In [276]:
import pandas as pd
import pyodbc

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

import warnings
warnings.filterwarnings('ignore')

In [277]:
connection = pyodbc.connect(
  r'Driver={ODBC Driver 17 for SQL Server};'
  r'Server=localhost;'
  r'Database=AdventureWorks2022;'
  r'Trusted_Connection=yes;'
)

In [278]:
#class for reading table
class db_reader:
    def read_table(self, table_name, connection, col=None):
        if col:
            query = f"SELECT {', '.join(col)} FROM {table_name}" #', '.join(col) converts the list of columns into a comma-separated string. For example, if col = ['name', 'salary'], ', '.join(col) produces 'name, salary'.
        else:
            query = f"SELECT * FROM {table_name}"
        return pd.read_sql_query(query, connection)

In [279]:
#class for merging
class merge:
  def merge_tbl(self, t1, t2, join, col = None, col1 = None, col2 = None):
    if col1 and col2:
      return pd.merge(t1, t2, how = join, left_on = col1, right_on = col2)
    elif col:
      return pd.merge(t1, t2, how = join, on = col)

In [280]:
# 101 Retrieve the total number of orders and the average order amount for each customer.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [281]:
soh.groupby('CustomerID').agg({'SalesOrderID' : 'count', 'TotalDue' : 'sum'}).rename(columns={'SalesOrderID' : 'NoOfOrders', 'TotalDue' : 'Total'}).reset_index().head()

   CustomerID  NoOfOrders      Total
0       11000           3  9115.1341
1       11001           3  7054.1875
2       11002           3  8966.0143
3       11003           3  8993.9155
4       11004           3  9056.5911

In [282]:
# 102 Find the number of products in each product category along with the average list price of products within each category.

pro = db_reader().read_table('production.product', connection)
pro.head()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,SizeUnitMeasureCode,WeightUnitMeasureCode,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,False,False,None,1000,750,0.0,1000.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,694215B7-08F7-4C0D-ACB1-D734BA44C0C8,2014-02-08 10:01:36.827
1,2,Bearing Ball,BA-8327,False,False,None,1000,750,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,58AE3C20-4F3A-4749-A7D4-D568806CC537,2014-02-08 10:01:36.827
2,3,BB Ball Bearing,BE-2349,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E,2014-02-08 10:01:36.827
3,4,Headset Ball Bearings,BE-2908,False,False,None,800,600,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B,2014-02-08 10:01:36.827
4,316,Blade,BL-2036,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,E73E9750-603B-4131-89F5-3DD15ED5FF80,2014-02-08 10:01:36.827

In [283]:
sc = db_reader().read_table('production.productsubcategory', connection)
sc.head()

,ProductSubcategoryID,ProductCategoryID,Name,rowguid,ModifiedDate
0,1,1,Mountain Bikes,2D364ADE-264A-433C-B092-4FCBF3804E01,2008-04-30
1,2,1,Road Bikes,000310C0-BCC8-42C4-B0C3-45AE611AF06B,2008-04-30
2,3,1,Touring Bikes,02C5061D-ECDC-4274-B5F1-E91D76BC3F37,2008-04-30
3,4,2,Handlebars,3EF2C725-7135-4C85-9AE6-AE9A3BDD9283,2008-04-30
4,5,2,Bottom Brackets,A9E54089-8A1E-4CF5-8646-E3801F685934,2008-04-30

In [284]:
c = merge().merge_tbl(pro[['ProductID', 'ListPrice', 'ProductSubcategoryID']],sc[['ProductSubcategoryID', 'ProductCategoryID']], 'inner', 'ProductSubcategoryID')
c.head()

   ProductID  ListPrice  ProductSubcategoryID  ProductCategoryID
0        680    1431.50                  14.0                  2
1        706    1431.50                  14.0                  2
2        707      34.99                  31.0                  4
3        708      34.99                  31.0                  4
4        709       9.50                  23.0                  3

In [285]:
c.groupby('ProductCategoryID').agg({'ProductID' : 'count', 'ListPrice' : 'mean'}).rename(columns = {'ProductID' : 'count', 'ListPrice' : 'avg'}).reset_index()

   ProductCategoryID  count         avg
0                  1     97  146.674000
1                  2    134  469.860299
2                  3     36   49.822222
3                  4     29   34.348966

In [286]:
# 103 Retrieve the top 5 customers who have made the highest total purchases.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [287]:
soh.groupby('CustomerID')['TotalDue'].sum().reset_index().sort_values('TotalDue', ascending=False).head()

       CustomerID     TotalDue
18818       29818  989184.0820
18715       29715  961675.8596
18722       29722  954021.9235
18614       29614  924500.0899
19117       30117  919801.8188

In [288]:
# 104 Find the total number of orders and the total sales amount for each month of the year.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [289]:
soh.groupby([soh['OrderDate'].dt.year.rename('Year'), soh['OrderDate'].dt.month.rename('Month')]).agg({'SalesOrderID' : 'count', 'TotalDue' : 'sum'}).reset_index().head()

   Year  Month  SalesOrderID      TotalDue
0  2011      5            43  5.670209e+05
1  2011      6           141  5.070965e+05
2  2011      7           231  2.292183e+06
3  2011      8           250  2.800576e+06
4  2011      9           157  5.547916e+05

In [290]:
# 105 Retrieve the customer who has made the highest single purchase.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [291]:
soh.sort_values('TotalDue', ascending=False).head(1)

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
7471,51131,8,2013-05-30,2013-06-11,2013-06-06,5,False,SO51131,PO16298169856,10-4020-000599,29641,281.0,4,1088,1088,5,4830.0,27578Vi25371,NaN,163930.3943,17948.5186,5608.9121,187487.825,None,45E8CF5F-1D87-4282-8EAA-1903927F84EF,2013-06-06

In [292]:
# 106 Find the top 3 best-selling products based on the total quantity sold.

sod = db_reader().read_table('sales.salesorderdetail', connection)
sod.head()

,SalesOrderID,SalesOrderDetailID,CarrierTrackingNumber,OrderQty,ProductID,SpecialOfferID,UnitPrice,UnitPriceDiscount,LineTotal,rowguid,ModifiedDate
0,43660,13,6431-4D57-83,1,762,1,419.4589,0.0,419.4589,419A1302-AC7A-4044-97B2-66D9D14CD02E,2011-05-31
1,43660,14,6431-4D57-83,1,758,1,874.7940,0.0,874.7940,5D0B2B03-1D4C-4C34-9696-C14C58E7301C,2011-05-31
2,43661,15,4E0A-4F89-AE,1,745,1,809.7600,0.0,809.7600,EDE1759E-6733-4C7B-A43F-DC6F48002D8A,2011-05-31
3,43661,16,4E0A-4F89-AE,1,743,1,714.7043,0.0,714.7043,FE10BF09-D477-485B-9541-27AE8053A6D4,2011-05-31
4,43661,17,4E0A-4F89-AE,2,747,1,714.7043,0.0,1429.4086,B136852E-24C9-4006-8048-B14AEFE6C337,2011-05-31

In [293]:
sod.groupby('ProductID')['OrderQty'].sum().reset_index().sort_values('OrderQty', ascending=False).head(3)

     ProductID  OrderQty
5          712      8309
139        870      6815
4          711      6739

In [294]:
# 107 Retrieve the average number of days it took to ship orders for each customer.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [295]:
soh['avg_Diff_Of_Days'] = (soh['ShipDate'] - soh['OrderDate']).dt.days.mean()

In [296]:
soh[['SalesOrderID', 'OrderDate', 'ShipDate', 'avg_Diff_Of_Days']].head()

   SalesOrderID  OrderDate   ShipDate  avg_Diff_Of_Days
0         43660 2011-05-20 2011-06-07          7.000636
1         43661 2011-05-31 2011-06-07          7.000636
2         43662 2011-05-31 2011-06-07          7.000636
3         43663 2011-05-31 2011-06-07          7.000636
4         43664 2011-05-31 2011-06-07          7.000636

In [297]:
# 108 Find the number of orders placed by each customer in the year 2023 along with their total purchase amount

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [298]:
soh_2014 = soh[soh['OrderDate'].dt.year == 2014]

In [299]:
soh_2014.groupby(['CustomerID', soh_2014['OrderDate'].dt.year]).agg({'SalesOrderID' : 'count', 'TotalDue' : 'sum'}).reset_index().head()

   CustomerID  OrderDate  SalesOrderID  TotalDue
0       11001       2014             1  650.8008
1       11012       2014             1    6.9394
2       11013       2014             1   82.8529
3       11017       2014             1  820.2968
4       11018       2014             1  874.4086

In [300]:
# 109 Retrieve the total sales amount for each product category

pro = db_reader().read_table('production.product', connection)
pro.head()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,SizeUnitMeasureCode,WeightUnitMeasureCode,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,False,False,None,1000,750,0.0,1000.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,694215B7-08F7-4C0D-ACB1-D734BA44C0C8,2014-02-08 10:01:36.827
1,2,Bearing Ball,BA-8327,False,False,None,1000,750,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,58AE3C20-4F3A-4749-A7D4-D568806CC537,2014-02-08 10:01:36.827
2,3,BB Ball Bearing,BE-2349,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E,2014-02-08 10:01:36.827
3,4,Headset Ball Bearings,BE-2908,False,False,None,800,600,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B,2014-02-08 10:01:36.827
4,316,Blade,BL-2036,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,E73E9750-603B-4131-89F5-3DD15ED5FF80,2014-02-08 10:01:36.827

In [301]:
sc = db_reader().read_table('production.productsubcategory', connection)
sc.head()

,ProductSubcategoryID,ProductCategoryID,Name,rowguid,ModifiedDate
0,1,1,Mountain Bikes,2D364ADE-264A-433C-B092-4FCBF3804E01,2008-04-30
1,2,1,Road Bikes,000310C0-BCC8-42C4-B0C3-45AE611AF06B,2008-04-30
2,3,1,Touring Bikes,02C5061D-ECDC-4274-B5F1-E91D76BC3F37,2008-04-30
3,4,2,Handlebars,3EF2C725-7135-4C85-9AE6-AE9A3BDD9283,2008-04-30
4,5,2,Bottom Brackets,A9E54089-8A1E-4CF5-8646-E3801F685934,2008-04-30

In [302]:
c = merge().merge_tbl(pro[['ProductID', 'ProductSubcategoryID']],sc[['ProductSubcategoryID', 'ProductCategoryID']], 'inner', 'ProductSubcategoryID')
c.head()

   ProductID  ProductSubcategoryID  ProductCategoryID
0        680                  14.0                  2
1        706                  14.0                  2
2        707                  31.0                  4
3        708                  31.0                  4
4        709                  23.0                  3

In [303]:
sod = db_reader().read_table('sales.salesorderdetail', connection)
sod.head()

,SalesOrderID,SalesOrderDetailID,CarrierTrackingNumber,OrderQty,ProductID,SpecialOfferID,UnitPrice,UnitPriceDiscount,LineTotal,rowguid,ModifiedDate
0,43660,13,6431-4D57-83,1,762,1,419.4589,0.0,419.4589,419A1302-AC7A-4044-97B2-66D9D14CD02E,2011-05-31
1,43660,14,6431-4D57-83,1,758,1,874.7940,0.0,874.7940,5D0B2B03-1D4C-4C34-9696-C14C58E7301C,2011-05-31
2,43661,15,4E0A-4F89-AE,1,745,1,809.7600,0.0,809.7600,EDE1759E-6733-4C7B-A43F-DC6F48002D8A,2011-05-31
3,43661,16,4E0A-4F89-AE,1,743,1,714.7043,0.0,714.7043,FE10BF09-D477-485B-9541-27AE8053A6D4,2011-05-31
4,43661,17,4E0A-4F89-AE,2,747,1,714.7043,0.0,1429.4086,B136852E-24C9-4006-8048-B14AEFE6C337,2011-05-31

In [304]:
s = merge().merge_tbl(c,sod[['SalesOrderID', 'LineTotal', 'ProductID']], 'inner', 'ProductID')
s.head()

   ProductID  ProductSubcategoryID  ProductCategoryID  SalesOrderID  LineTotal
0        707                  31.0                  4         43665    20.1865
1        707                  31.0                  4         43668    40.3730
2        707                  31.0                  4         43673    80.7460
3        707                  31.0                  4         43677    20.1865
4        707                  31.0                  4         43678    20.1865

In [305]:
s.groupby('ProductCategoryID')['LineTotal'].sum().reset_index()

   ProductCategoryID     LineTotal
0                  1  9.463085e+07
1                  2  1.180259e+07
2                  3  2.120383e+06
3                  4  1.271992e+06

In [306]:
# 110 Find the number of orders placed on each day of the week along with the average order amount.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [307]:
soh.groupby(soh['OrderDate'].dt.day_name()).agg({'SalesOrderID' : 'count', 'TotalDue' : 'mean'}).reset_index()

   OrderDate  SalesOrderID     TotalDue
0     Friday          4245  3041.581583
1     Monday          4875  4371.979524
2   Saturday          4483  4200.449918
3     Sunday          4444  3753.954094
4   Thursday          4346  3771.836634
5    Tuesday          4481  3620.735702
6  Wednesday          4591  4544.056730

In [308]:
# 111 Retrieve the top 3 sales representatives based on the total sales amount generated from their orders.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [309]:
soh.groupby('SalesPersonID')['TotalDue'].sum().reset_index().sort_values('TotalDue', ascending= False).head(3)

   SalesPersonID      TotalDue
2          276.0  1.169502e+07
3          277.0  1.134239e+07
1          275.0  1.047537e+07

In [310]:
# 112 Find the average quantity of products sold per order

sod = db_reader().read_table('sales.salesorderdetail', connection)
sod.head()

,SalesOrderID,SalesOrderDetailID,CarrierTrackingNumber,OrderQty,ProductID,SpecialOfferID,UnitPrice,UnitPriceDiscount,LineTotal,rowguid,ModifiedDate
0,43660,13,6431-4D57-83,1,762,1,419.4589,0.0,419.4589,419A1302-AC7A-4044-97B2-66D9D14CD02E,2011-05-31
1,43660,14,6431-4D57-83,1,758,1,874.7940,0.0,874.7940,5D0B2B03-1D4C-4C34-9696-C14C58E7301C,2011-05-31
2,43661,15,4E0A-4F89-AE,1,745,1,809.7600,0.0,809.7600,EDE1759E-6733-4C7B-A43F-DC6F48002D8A,2011-05-31
3,43661,16,4E0A-4F89-AE,1,743,1,714.7043,0.0,714.7043,FE10BF09-D477-485B-9541-27AE8053A6D4,2011-05-31
4,43661,17,4E0A-4F89-AE,2,747,1,714.7043,0.0,1429.4086,B136852E-24C9-4006-8048-B14AEFE6C337,2011-05-31

In [311]:
sod.groupby('SalesOrderID')['OrderQty'].mean().reset_index().head()

   SalesOrderID  OrderQty
0         43660  1.000000
1         43661  2.533333
2         43662  2.454545
3         43663  1.000000
4         43664  1.750000

In [312]:
# 113 Retrieve the top 5 customers who have the highest average order amount.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [313]:
soh.groupby('CustomerID')['TotalDue'].mean().reset_index().sort_values('TotalDue', ascending= False).head()

       CustomerID       TotalDue
18641       29641  151704.902175
18923       29923  123454.220225
18624       29624  121734.398425
18861       29861  115043.714775
18940       29940  110784.146350

In [314]:
# 114 Find the number of orders placed by each customer along with their total purchase amount and rank them within each category based on the total purchase amount.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [315]:
a = soh.groupby('CustomerID').agg({'TotalDue': 'sum', 'SalesOrderID' : 'count'}).reset_index().sort_values('TotalDue', ascending=False)
a.head()

       CustomerID     TotalDue  SalesOrderID
18818       29818  989184.0820            12
18715       29715  961675.8596            12
18722       29722  954021.9235            12
18614       29614  924500.0899            13
19117       30117  919801.8188            12

In [316]:
a['Rank']=a['TotalDue'].rank(ascending=False, method='dense').head()

In [317]:
a.head()

       CustomerID     TotalDue  SalesOrderID  Rank
18818       29818  989184.0820            12   1.0
18715       29715  961675.8596            12   2.0
18722       29722  954021.9235            12   3.0
18614       29614  924500.0899            13   4.0
19117       30117  919801.8188            12   5.0

In [318]:
# 115 Retrieve the product category with the highest total sales amount.

pro = db_reader().read_table('production.product', connection)
pro.head()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,SizeUnitMeasureCode,WeightUnitMeasureCode,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,False,False,None,1000,750,0.0,1000.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,694215B7-08F7-4C0D-ACB1-D734BA44C0C8,2014-02-08 10:01:36.827
1,2,Bearing Ball,BA-8327,False,False,None,1000,750,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,58AE3C20-4F3A-4749-A7D4-D568806CC537,2014-02-08 10:01:36.827
2,3,BB Ball Bearing,BE-2349,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E,2014-02-08 10:01:36.827
3,4,Headset Ball Bearings,BE-2908,False,False,None,800,600,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B,2014-02-08 10:01:36.827
4,316,Blade,BL-2036,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,E73E9750-603B-4131-89F5-3DD15ED5FF80,2014-02-08 10:01:36.827

In [319]:
sc = db_reader().read_table('production.productsubcategory', connection)
sc.head()

,ProductSubcategoryID,ProductCategoryID,Name,rowguid,ModifiedDate
0,1,1,Mountain Bikes,2D364ADE-264A-433C-B092-4FCBF3804E01,2008-04-30
1,2,1,Road Bikes,000310C0-BCC8-42C4-B0C3-45AE611AF06B,2008-04-30
2,3,1,Touring Bikes,02C5061D-ECDC-4274-B5F1-E91D76BC3F37,2008-04-30
3,4,2,Handlebars,3EF2C725-7135-4C85-9AE6-AE9A3BDD9283,2008-04-30
4,5,2,Bottom Brackets,A9E54089-8A1E-4CF5-8646-E3801F685934,2008-04-30

In [320]:
c = merge().merge_tbl(pro[['ProductID', 'ProductSubcategoryID']],sc[['ProductSubcategoryID', 'ProductCategoryID']], 'inner', 'ProductSubcategoryID')
c.head()

   ProductID  ProductSubcategoryID  ProductCategoryID
0        680                  14.0                  2
1        706                  14.0                  2
2        707                  31.0                  4
3        708                  31.0                  4
4        709                  23.0                  3

In [321]:
sod = db_reader().read_table('sales.salesorderdetail', connection)
sod.head()

,SalesOrderID,SalesOrderDetailID,CarrierTrackingNumber,OrderQty,ProductID,SpecialOfferID,UnitPrice,UnitPriceDiscount,LineTotal,rowguid,ModifiedDate
0,43660,13,6431-4D57-83,1,762,1,419.4589,0.0,419.4589,419A1302-AC7A-4044-97B2-66D9D14CD02E,2011-05-31
1,43660,14,6431-4D57-83,1,758,1,874.7940,0.0,874.7940,5D0B2B03-1D4C-4C34-9696-C14C58E7301C,2011-05-31
2,43661,15,4E0A-4F89-AE,1,745,1,809.7600,0.0,809.7600,EDE1759E-6733-4C7B-A43F-DC6F48002D8A,2011-05-31
3,43661,16,4E0A-4F89-AE,1,743,1,714.7043,0.0,714.7043,FE10BF09-D477-485B-9541-27AE8053A6D4,2011-05-31
4,43661,17,4E0A-4F89-AE,2,747,1,714.7043,0.0,1429.4086,B136852E-24C9-4006-8048-B14AEFE6C337,2011-05-31

In [322]:
s = merge().merge_tbl(c,sod[['SalesOrderID', 'LineTotal', 'ProductID']], 'inner', 'ProductID')
s.head()

   ProductID  ProductSubcategoryID  ProductCategoryID  SalesOrderID  LineTotal
0        707                  31.0                  4         43665    20.1865
1        707                  31.0                  4         43668    40.3730
2        707                  31.0                  4         43673    80.7460
3        707                  31.0                  4         43677    20.1865
4        707                  31.0                  4         43678    20.1865

In [323]:
s.groupby('ProductCategoryID')['LineTotal'].sum().reset_index()

   ProductCategoryID     LineTotal
0                  1  9.463085e+07
1                  2  1.180259e+07
2                  3  2.120383e+06
3                  4  1.271992e+06

In [324]:
# 116 Find the median order amount for each month.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [325]:
soh.groupby(soh['OrderDate'].dt.month_name())['TotalDue'].median().reset_index()

    OrderDate    TotalDue
0       April   866.83940
1      August   615.03750
2    December   820.29680
3    February   772.50360
4     January   905.50330
5        July   635.35290
6        June   654.45840
7       March   913.71900
8         May  1105.48340
9    November   865.20400
10    October   858.96070
11  September   672.11505

In [326]:
# 117 Retrieve the top 3 product categories with the highest average sales amount per order

pro = db_reader().read_table('production.product', connection)
pro.head()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,SizeUnitMeasureCode,WeightUnitMeasureCode,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,False,False,None,1000,750,0.0,1000.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,694215B7-08F7-4C0D-ACB1-D734BA44C0C8,2014-02-08 10:01:36.827
1,2,Bearing Ball,BA-8327,False,False,None,1000,750,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,58AE3C20-4F3A-4749-A7D4-D568806CC537,2014-02-08 10:01:36.827
2,3,BB Ball Bearing,BE-2349,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E,2014-02-08 10:01:36.827
3,4,Headset Ball Bearings,BE-2908,False,False,None,800,600,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B,2014-02-08 10:01:36.827
4,316,Blade,BL-2036,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,E73E9750-603B-4131-89F5-3DD15ED5FF80,2014-02-08 10:01:36.827

In [327]:
sc = db_reader().read_table('production.productsubcategory', connection)
sc.head()

,ProductSubcategoryID,ProductCategoryID,Name,rowguid,ModifiedDate
0,1,1,Mountain Bikes,2D364ADE-264A-433C-B092-4FCBF3804E01,2008-04-30
1,2,1,Road Bikes,000310C0-BCC8-42C4-B0C3-45AE611AF06B,2008-04-30
2,3,1,Touring Bikes,02C5061D-ECDC-4274-B5F1-E91D76BC3F37,2008-04-30
3,4,2,Handlebars,3EF2C725-7135-4C85-9AE6-AE9A3BDD9283,2008-04-30
4,5,2,Bottom Brackets,A9E54089-8A1E-4CF5-8646-E3801F685934,2008-04-30

In [328]:
c = merge().merge_tbl(pro[['ProductID', 'ProductSubcategoryID']],sc[['ProductSubcategoryID', 'ProductCategoryID']], 'inner', 'ProductSubcategoryID')
c.head()

   ProductID  ProductSubcategoryID  ProductCategoryID
0        680                  14.0                  2
1        706                  14.0                  2
2        707                  31.0                  4
3        708                  31.0                  4
4        709                  23.0                  3

In [329]:
sod = db_reader().read_table('sales.salesorderdetail', connection)
sod.head()

,SalesOrderID,SalesOrderDetailID,CarrierTrackingNumber,OrderQty,ProductID,SpecialOfferID,UnitPrice,UnitPriceDiscount,LineTotal,rowguid,ModifiedDate
0,43660,13,6431-4D57-83,1,762,1,419.4589,0.0,419.4589,419A1302-AC7A-4044-97B2-66D9D14CD02E,2011-05-31
1,43660,14,6431-4D57-83,1,758,1,874.7940,0.0,874.7940,5D0B2B03-1D4C-4C34-9696-C14C58E7301C,2011-05-31
2,43661,15,4E0A-4F89-AE,1,745,1,809.7600,0.0,809.7600,EDE1759E-6733-4C7B-A43F-DC6F48002D8A,2011-05-31
3,43661,16,4E0A-4F89-AE,1,743,1,714.7043,0.0,714.7043,FE10BF09-D477-485B-9541-27AE8053A6D4,2011-05-31
4,43661,17,4E0A-4F89-AE,2,747,1,714.7043,0.0,1429.4086,B136852E-24C9-4006-8048-B14AEFE6C337,2011-05-31

In [330]:
s = merge().merge_tbl(c,sod[['SalesOrderID', 'LineTotal', 'ProductID']], 'inner', 'ProductID')
s.head()

   ProductID  ProductSubcategoryID  ProductCategoryID  SalesOrderID  LineTotal
0        707                  31.0                  4         43665    20.1865
1        707                  31.0                  4         43668    40.3730
2        707                  31.0                  4         43673    80.7460
3        707                  31.0                  4         43677    20.1865
4        707                  31.0                  4         43678    20.1865

In [331]:
s.groupby('ProductCategoryID')['LineTotal'].mean().reset_index().sort_values('LineTotal', ascending=False).head(3)

   ProductCategoryID    LineTotal
0                  1  2364.352583
1                  2   631.222232
2                  3    99.129621

In [332]:
# 118 Find the customers who have made at least 5 orders and have spent more than $5000 in total, and list them in descending order of their total purchase amount.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [333]:
soh.groupby('CustomerID').agg({'SalesOrderID' : 'count', 'TotalDue' : 'sum'}).reset_index().query('SalesOrderID > 5 & TotalDue > 5000').head()

     CustomerID  SalesOrderID    TotalDue
241       11241             7  12673.4532
242       11242             7  12230.1493
417       11417             7  12429.5465
420       11420             7  12376.8506
425       11425             6  11634.1343

In [334]:
# 119 Retrieve the top 5 sales representatives who have the highest average sales amount per order.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [335]:
soh.groupby('SalesPersonID')['TotalDue'].mean().reset_index().sort_values('TotalDue', ascending=False).head()

    SalesPersonID      TotalDue
6           280.0  39455.222335
7           281.0  29998.214364
16          290.0  29074.155497
2           276.0  27978.514499
15          289.0  27543.462493

In [336]:
# 120 Find the number of orders placed in each quarter of the year along with the total sales amount for each quarter

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [337]:
soh.groupby([soh['OrderDate'].dt.quarter.rename('Quarter'), soh['OrderDate'].dt.year.rename('Year')])['TotalDue'].sum().reset_index().head()

   Quarter  Year      TotalDue
0        1  2012  9.443737e+06
1        1  2013  8.771886e+06
2        1  2014  1.437328e+07
3        2  2011  1.074117e+06
4        2  2012  9.935495e+06

In [338]:
# 121 Retrieve the order date in the format 'YYYY-MM-DD' for all orders.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [339]:
soh['OrderDate'] = pd.to_datetime(soh['OrderDate'])

# Format OrderDate to 'YYYY-MM-DD'
soh['FormattedOrderDate'] = soh['OrderDate'].dt.strftime('%Y-%m-%d')

In [340]:
soh[['SalesOrderID', 'FormattedOrderDate']].head()

   SalesOrderID FormattedOrderDate
0         43660         2011-05-20
1         43661         2011-05-31
2         43662         2011-05-31
3         43663         2011-05-31
4         43664         2011-05-31

In [341]:
# 122 Convert the list price of products to integer values.

pro =db_reader().read_table('production.product', connection)
pro.head()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,SizeUnitMeasureCode,WeightUnitMeasureCode,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,False,False,None,1000,750,0.0,1000.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,694215B7-08F7-4C0D-ACB1-D734BA44C0C8,2014-02-08 10:01:36.827
1,2,Bearing Ball,BA-8327,False,False,None,1000,750,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,58AE3C20-4F3A-4749-A7D4-D568806CC537,2014-02-08 10:01:36.827
2,3,BB Ball Bearing,BE-2349,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E,2014-02-08 10:01:36.827
3,4,Headset Ball Bearings,BE-2908,False,False,None,800,600,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B,2014-02-08 10:01:36.827
4,316,Blade,BL-2036,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,E73E9750-603B-4131-89F5-3DD15ED5FF80,2014-02-08 10:01:36.827

In [342]:
pro['converted'] = pro['ListPrice'].astype(int)

In [343]:
pro[['Name', 'converted']].head()

                    Name  converted
0        Adjustable Race       1000
1           Bearing Ball          0
2        BB Ball Bearing          0
3  Headset Ball Bearings          0
4                  Blade          0

In [344]:
# 123 Retrieve the order quantity as floating-point numbers for all orders.

sod = db_reader().read_table('sales.salesorderdetail', connection)
sod.head()

,SalesOrderID,SalesOrderDetailID,CarrierTrackingNumber,OrderQty,ProductID,SpecialOfferID,UnitPrice,UnitPriceDiscount,LineTotal,rowguid,ModifiedDate
0,43660,13,6431-4D57-83,1,762,1,419.4589,0.0,419.4589,419A1302-AC7A-4044-97B2-66D9D14CD02E,2011-05-31
1,43660,14,6431-4D57-83,1,758,1,874.7940,0.0,874.7940,5D0B2B03-1D4C-4C34-9696-C14C58E7301C,2011-05-31
2,43661,15,4E0A-4F89-AE,1,745,1,809.7600,0.0,809.7600,EDE1759E-6733-4C7B-A43F-DC6F48002D8A,2011-05-31
3,43661,16,4E0A-4F89-AE,1,743,1,714.7043,0.0,714.7043,FE10BF09-D477-485B-9541-27AE8053A6D4,2011-05-31
4,43661,17,4E0A-4F89-AE,2,747,1,714.7043,0.0,1429.4086,B136852E-24C9-4006-8048-B14AEFE6C337,2011-05-31

In [345]:
sod['converted'] = sod['OrderQty'].astype(float)

In [346]:
sod[['SalesOrderID', 'converted']].head()

   SalesOrderID  converted
0         43660        1.0
1         43660        1.0
2         43661        1.0
3         43661        1.0
4         43661        2.0

In [347]:
# 124 Convert the order date to the day of the year (1-365) for all orders

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [348]:
soh['Date'] = soh['OrderDate'].dt.dayofyear

In [349]:
soh[['SalesOrderID', 'OrderDate', 'Date']].head()

   SalesOrderID  OrderDate  Date
0         43660 2011-05-20   140
1         43661 2011-05-31   151
2         43662 2011-05-31   151
3         43663 2011-05-31   151
4         43664 2011-05-31   151

In [350]:
# 125 Retrieve the last modification date of products in the format 'DD-MM-YYYY HH:MI:SS'.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [351]:
soh['Converted'] = soh['ModifiedDate'].dt.strftime('%d-%m-%Y %h:%m:%s')

In [352]:
soh[['SalesOrderID', 'Converted']].head()

   SalesOrderID            Converted
0         43660  2011-06-07 00:00:00
1         43661  2011-06-07 00:00:00
2         43662  2011-06-07 00:00:00
3         43663  2011-06-07 00:00:00
4         43664  2011-06-07 00:00:00

In [353]:
# 126 Convert the order status code to its corresponding description for all orders.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [354]:
status_map = {
  1 : 'In process',
  2 : 'Approved',
  3 : 'Backordered',
  4 : 'Rejected',
  5 : 'Shipped',
  6 : 'Cancelled'
}

In [355]:
soh['Status'] = soh['Status'].map(status_map)

In [356]:
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,Shipped,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,Shipped,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,Shipped,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,Shipped,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,Shipped,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [357]:
# 127 Retrieve the ship date as a date without time for all orders.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [358]:
soh['OrderDate'] = soh['OrderDate'].dt.date

In [359]:
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [360]:
# 128 Convert the birth date of employees to their corresponding age

col = ['BusinessEntityID',
    'NationalIDNumber',
    'LoginID',
    'OrganizationLevel',
    'JobTitle',
    'BirthDate',
    'MaritalStatus',
    'Gender',
    'HireDate',
    'SalariedFlag',
    'VacationHours',
    'SickLeaveHours',
    'CurrentFlag',
    'rowguid',
    'ModifiedDate']

In [361]:
emp = db_reader().read_table('humanresources.employee', connection, col)
emp.head()

,BusinessEntityID,NationalIDNumber,LoginID,OrganizationLevel,JobTitle,BirthDate,MaritalStatus,Gender,HireDate,SalariedFlag,VacationHours,SickLeaveHours,CurrentFlag,rowguid,ModifiedDate
0,1,295847284,adventure-works\ken0,NaN,Chief Executive Officer,1969-01-29,S,M,2009-01-14,True,99,69,True,F01251E5-96A3-448D-981E-0F99D789110D,2014-06-30
1,2,245797967,adventure-works\terri0,1.0,Vice President of Engineering,1971-08-01,S,F,2008-01-31,True,1,20,True,45E8F437-670D-4409-93CB-F9424A40D6EE,2014-06-30
2,3,509647174,adventure-works\roberto0,2.0,Engineering Manager,1974-11-12,M,M,2007-11-11,True,2,21,True,9BBBFB2C-EFBB-4217-9AB7-F97689328841,2014-06-30
3,4,112457891,adventure-works\rob0,3.0,Senior Tool Designer,1974-12-23,S,M,2007-12-05,False,48,80,True,59747955-87B8-443F-8ED4-F8AD3AFDF3A9,2014-06-30
4,5,695256908,adventure-works\gail0,3.0,Design Engineer,1952-09-27,M,F,2008-01-06,True,5,22,True,EC84AE09-F9B8-4A15-B4A9-6CCBAB919B08,2014-06-30

In [362]:
emp['age'] = pd.Timestamp.now().year - pd.to_datetime(emp['BirthDate']).dt.year

In [363]:
emp[['BusinessEntityID', 'age']].head()

   BusinessEntityID  age
0                 1   55
1                 2   53
2                 3   50
3                 4   50
4                 5   72

In [364]:
# 129 Retrieve the total due amount of orders as currency formatted strings.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [365]:
soh['TotalDue'] = soh['TotalDue'].map('₹{:,.3f}'.format)

In [366]:
soh[['SalesOrderID', 'TotalDue']].head()

   SalesOrderID     TotalDue
0         43660   ₹1,457.329
1         43661  ₹36,865.801
2         43662  ₹32,474.932
3         43663     ₹472.311
4         43664  ₹27,510.411

In [367]:
# 130 Convert the product weight from pounds to kilograms.

pro = db_reader().read_table('production.product', connection)
pro.tail()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,SizeUnitMeasureCode,WeightUnitMeasureCode,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
501,997,"Road-750 Black, 44",BK-R19B-44,True,True,Black,100,75,343.6496,146.674,44,CM,LB,19.77,4,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaT,NaT,44CE4802-409F-43AB-9B27-CA53421805BE,2014-02-08 10:01:36.827
502,998,"Road-750 Black, 48",BK-R19B-48,True,True,Black,100,75,343.6496,146.674,48,CM,LB,20.13,4,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaT,NaT,3DE9A212-1D49-40B6-B10A-F564D981DBDE,2014-02-08 10:01:36.827
503,999,"Road-750 Black, 52",BK-R19B-52,True,True,Black,100,75,343.6496,146.674,52,CM,LB,20.42,4,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaT,NaT,AE638923-2B67-4679-B90E-ABBAB17DCA31,2014-02-08 10:01:36.827
504,1001,Vintage Handcrafted Wooden Handlebars,VHWH1000,True,True,GOLD,3,4,6.9223,8.900,M,CM,LB,1.50,1,M,H,U,23.0,18.0,2011-05-31 10:00:00,2011-08-31 10:00:00,2012-05-31 10:00:00,4FBD47F2-B7E5-48B0-928E-45B8933A56DA,2014-02-08 10:02:36.827
505,2006,BIKE HANDLE,RV-H123,True,True,BLUE,250,20,145.8800,2000.000,20,CM,LB,2.00,0,None,None,None,NaN,NaN,2008-04-30 00:00:00,NaT,NaT,D67538F2-A81A-4A4F-98F7-202002D888B4,2024-03-02 14:57:55.763

In [368]:
pro['Weight'] = pro['Weight'] * 0.453592

In [369]:
pro.tail()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,SizeUnitMeasureCode,WeightUnitMeasureCode,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
501,997,"Road-750 Black, 44",BK-R19B-44,True,True,Black,100,75,343.6496,146.674,44,CM,LB,8.967514,4,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaT,NaT,44CE4802-409F-43AB-9B27-CA53421805BE,2014-02-08 10:01:36.827
502,998,"Road-750 Black, 48",BK-R19B-48,True,True,Black,100,75,343.6496,146.674,48,CM,LB,9.130807,4,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaT,NaT,3DE9A212-1D49-40B6-B10A-F564D981DBDE,2014-02-08 10:01:36.827
503,999,"Road-750 Black, 52",BK-R19B-52,True,True,Black,100,75,343.6496,146.674,52,CM,LB,9.262349,4,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaT,NaT,AE638923-2B67-4679-B90E-ABBAB17DCA31,2014-02-08 10:01:36.827
504,1001,Vintage Handcrafted Wooden Handlebars,VHWH1000,True,True,GOLD,3,4,6.9223,8.900,M,CM,LB,0.680388,1,M,H,U,23.0,18.0,2011-05-31 10:00:00,2011-08-31 10:00:00,2012-05-31 10:00:00,4FBD47F2-B7E5-48B0-928E-45B8933A56DA,2014-02-08 10:02:36.827
505,2006,BIKE HANDLE,RV-H123,True,True,BLUE,250,20,145.8800,2000.000,20,CM,LB,0.907184,0,None,None,None,NaN,NaN,2008-04-30 00:00:00,NaT,NaT,D67538F2-A81A-4A4F-98F7-202002D888B4,2024-03-02 14:57:55.763

In [370]:
# 131 Retrieve the order date and ship date of orders, converting them to the format 'YYYY-MM-DD HH:MM:SS'.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [371]:
soh['OrderDate'] = soh['OrderDate'].dt.strftime('%d-%m-%Y %h:%m:%s')

In [372]:
soh['ShipDate'] = soh['ShipDate'].dt.strftime('%d-%m-%Y %h:%m:%s')

In [373]:
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20 00:00:00,2011-06-12,2011-06-07 00:00:00,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31 00:00:00,2011-06-12,2011-06-07 00:00:00,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31 00:00:00,2011-06-12,2011-06-07 00:00:00,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31 00:00:00,2011-06-12,2011-06-07 00:00:00,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31 00:00:00,2011-06-12,2011-06-07 00:00:00,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [374]:
# 132 List all products whose list prices are converted to euros (assuming 1 USD = 0.84 EUR), rounded to two decimal places.

pro = db_reader().read_table('production.product', connection)
pro.head()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,SizeUnitMeasureCode,WeightUnitMeasureCode,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,False,False,None,1000,750,0.0,1000.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,694215B7-08F7-4C0D-ACB1-D734BA44C0C8,2014-02-08 10:01:36.827
1,2,Bearing Ball,BA-8327,False,False,None,1000,750,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,58AE3C20-4F3A-4749-A7D4-D568806CC537,2014-02-08 10:01:36.827
2,3,BB Ball Bearing,BE-2349,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E,2014-02-08 10:01:36.827
3,4,Headset Ball Bearings,BE-2908,False,False,None,800,600,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B,2014-02-08 10:01:36.827
4,316,Blade,BL-2036,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,E73E9750-603B-4131-89F5-3DD15ED5FF80,2014-02-08 10:01:36.827

In [375]:
pro['ListPrice'] = pro['ListPrice'] * 0.84

In [376]:
pro['ListPrice'] = pro['ListPrice'].map('${:,.2f}'.format)

In [377]:
pro[['ProductID', 'ListPrice']].head()

   ProductID ListPrice
0          1   $840.00
1          2     $0.00
2          3     $0.00
3          4     $0.00
4        316     $0.00

In [378]:
# 133 Retrieve the total sales amount of each order, converting it to a monetary format with commas and two decimal places.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [379]:
soh['MonetaryFormat'] = soh['TotalDue'].map('${:,.2f}'.format)

In [380]:
soh[['SalesOrderID', 'TotalDue', 'MonetaryFormat']].head()

   SalesOrderID    TotalDue MonetaryFormat
0         43660   1457.3288      $1,457.33
1         43661  36865.8012     $36,865.80
2         43662  32474.9324     $32,474.93
3         43663    472.3108        $472.31
4         43664  27510.4109     $27,510.41

In [381]:
# 134 Find the age of employees, converting their birth dates to years.

col = ['BusinessEntityID',
    'NationalIDNumber',
    'LoginID',
    'OrganizationLevel',
    'JobTitle',
    'BirthDate',
    'MaritalStatus',
    'Gender',
    'HireDate',
    'SalariedFlag',
    'VacationHours',
    'SickLeaveHours',
    'CurrentFlag',
    'rowguid',
    'ModifiedDate']

emp = db_reader().read_table('humanresources.employee', connection, col)
emp.head()

,BusinessEntityID,NationalIDNumber,LoginID,OrganizationLevel,JobTitle,BirthDate,MaritalStatus,Gender,HireDate,SalariedFlag,VacationHours,SickLeaveHours,CurrentFlag,rowguid,ModifiedDate
0,1,295847284,adventure-works\ken0,NaN,Chief Executive Officer,1969-01-29,S,M,2009-01-14,True,99,69,True,F01251E5-96A3-448D-981E-0F99D789110D,2014-06-30
1,2,245797967,adventure-works\terri0,1.0,Vice President of Engineering,1971-08-01,S,F,2008-01-31,True,1,20,True,45E8F437-670D-4409-93CB-F9424A40D6EE,2014-06-30
2,3,509647174,adventure-works\roberto0,2.0,Engineering Manager,1974-11-12,M,M,2007-11-11,True,2,21,True,9BBBFB2C-EFBB-4217-9AB7-F97689328841,2014-06-30
3,4,112457891,adventure-works\rob0,3.0,Senior Tool Designer,1974-12-23,S,M,2007-12-05,False,48,80,True,59747955-87B8-443F-8ED4-F8AD3AFDF3A9,2014-06-30
4,5,695256908,adventure-works\gail0,3.0,Design Engineer,1952-09-27,M,F,2008-01-06,True,5,22,True,EC84AE09-F9B8-4A15-B4A9-6CCBAB919B08,2014-06-30

In [382]:
emp['age'] = pd.Timestamp.now().year - pd.to_datetime(emp['BirthDate']).dt.year

In [383]:
emp['Year'] = pd.to_datetime(emp['BirthDate']).dt.year

In [384]:
emp[['BusinessEntityID','Year','age']].head()

   BusinessEntityID  Year  age
0                 1  1969   55
1                 2  1971   53
2                 3  1974   50
3                 4  1974   50
4                 5  1952   72

In [385]:
# 135 Retrieve the date and time of each order, converting them to the format 'DayOfWeek, Month Day, Year HH:MM AM/PM'.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [386]:
soh['Converted'] = soh['OrderDate'].dt.strftime('%A, %B %d, %Y %I:%M %p')

In [387]:
# %A: Full weekday name (e.g., 'Monday')
# %B: Full month name (e.g., 'January')
# %d: Day of the month as a zero-padded decimal number (e.g., '01' to '31')
# %Y: Year with century as a decimal number (e.g., '0001', '0002', ..., '2013', '2014', ..., '9998', '9999')
# %I: Hour (12-hour clock) as a zero-padded decimal number (e.g., '01' to '12')
# %M: Minute as a zero-padded decimal number (e.g., '00' to '59')
# %p: AM or PM designation

In [388]:
soh[['SalesOrderID', 'Converted']].head()

   SalesOrderID                       Converted
0         43660   Friday, May 20, 2011 12:00 AM
1         43661  Tuesday, May 31, 2011 12:00 AM
2         43662  Tuesday, May 31, 2011 12:00 AM
3         43663  Tuesday, May 31, 2011 12:00 AM
4         43664  Tuesday, May 31, 2011 12:00 AM

In [389]:
# 136 List all products whose weights are converted to kilograms (assuming 1 pound = 0.45359237 kilograms), rounded to two decimal places.

pro = db_reader().read_table('production.product', connection)
pro.head()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,SizeUnitMeasureCode,WeightUnitMeasureCode,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,False,False,None,1000,750,0.0,1000.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,694215B7-08F7-4C0D-ACB1-D734BA44C0C8,2014-02-08 10:01:36.827
1,2,Bearing Ball,BA-8327,False,False,None,1000,750,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,58AE3C20-4F3A-4749-A7D4-D568806CC537,2014-02-08 10:01:36.827
2,3,BB Ball Bearing,BE-2349,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E,2014-02-08 10:01:36.827
3,4,Headset Ball Bearings,BE-2908,False,False,None,800,600,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B,2014-02-08 10:01:36.827
4,316,Blade,BL-2036,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,E73E9750-603B-4131-89F5-3DD15ED5FF80,2014-02-08 10:01:36.827

In [390]:
pro['Weight'] = pro['Weight']*0.45359237

In [391]:
pro['Weight'] = pro['Weight'].map('{:,.2f} kg'.format)

In [392]:
pro.tail()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,SizeUnitMeasureCode,WeightUnitMeasureCode,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
501,997,"Road-750 Black, 44",BK-R19B-44,True,True,Black,100,75,343.6496,146.674,44,CM,LB,8.97 kg,4,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaT,NaT,44CE4802-409F-43AB-9B27-CA53421805BE,2014-02-08 10:01:36.827
502,998,"Road-750 Black, 48",BK-R19B-48,True,True,Black,100,75,343.6496,146.674,48,CM,LB,9.13 kg,4,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaT,NaT,3DE9A212-1D49-40B6-B10A-F564D981DBDE,2014-02-08 10:01:36.827
503,999,"Road-750 Black, 52",BK-R19B-52,True,True,Black,100,75,343.6496,146.674,52,CM,LB,9.26 kg,4,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaT,NaT,AE638923-2B67-4679-B90E-ABBAB17DCA31,2014-02-08 10:01:36.827
504,1001,Vintage Handcrafted Wooden Handlebars,VHWH1000,True,True,GOLD,3,4,6.9223,8.900,M,CM,LB,0.68 kg,1,M,H,U,23.0,18.0,2011-05-31 10:00:00,2011-08-31 10:00:00,2012-05-31 10:00:00,4FBD47F2-B7E5-48B0-928E-45B8933A56DA,2014-02-08 10:02:36.827
505,2006,BIKE HANDLE,RV-H123,True,True,BLUE,250,20,145.8800,2000.000,20,CM,LB,0.91 kg,0,None,None,None,NaN,NaN,2008-04-30 00:00:00,NaT,NaT,D67538F2-A81A-4A4F-98F7-202002D888B4,2024-03-02 14:57:55.763

In [393]:
# 137 Retrieve the total sales amount of each order, converting it to scientific notation.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [394]:
soh['TotalDue'] = soh['TotalDue'].map('{:,.2e}'.format)

In [395]:
soh[['SalesOrderID', 'TotalDue']].head()

   SalesOrderID  TotalDue
0         43660  1.46e+03
1         43661  3.69e+04
2         43662  3.25e+04
3         43663  4.72e+02
4         43664  2.75e+04

In [396]:
# 138 Find the length of product names, converting the lengths to binary format.

pro = db_reader().read_table('production.product', connection)
pro.head()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,SizeUnitMeasureCode,WeightUnitMeasureCode,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,False,False,None,1000,750,0.0,1000.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,694215B7-08F7-4C0D-ACB1-D734BA44C0C8,2014-02-08 10:01:36.827
1,2,Bearing Ball,BA-8327,False,False,None,1000,750,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,58AE3C20-4F3A-4749-A7D4-D568806CC537,2014-02-08 10:01:36.827
2,3,BB Ball Bearing,BE-2349,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E,2014-02-08 10:01:36.827
3,4,Headset Ball Bearings,BE-2908,False,False,None,800,600,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B,2014-02-08 10:01:36.827
4,316,Blade,BL-2036,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,E73E9750-603B-4131-89F5-3DD15ED5FF80,2014-02-08 10:01:36.827

In [397]:
pro['len'] = pro['Name'].str.len()
pro['len'].head()

0    15
1    12
2    15
3    21
4     5
Name: len, dtype: int64

In [398]:
pro[['Name', 'len']].head()

                    Name  len
0        Adjustable Race   15
1           Bearing Ball   12
2        BB Ball Bearing   15
3  Headset Ball Bearings   21
4                  Blade    5

In [399]:
pro['len'] = pro['len'].apply(lambda x: format(x, 'b'))

In [400]:
pro[['Name', 'len']].head()

                    Name    len
0        Adjustable Race   1111
1           Bearing Ball   1100
2        BB Ball Bearing   1111
3  Headset Ball Bearings  10101
4                  Blade    101

In [401]:
# 139 Retrieve the hire date of employees, converting them to the format 'Day, Month DD, YYYY'.

col = ['BusinessEntityID',
    'NationalIDNumber',
    'LoginID',
    'OrganizationLevel',
    'JobTitle',
    'BirthDate',
    'MaritalStatus',
    'Gender',
    'HireDate',
    'SalariedFlag',
    'VacationHours',
    'SickLeaveHours',
    'CurrentFlag',
    'rowguid',
    'ModifiedDate']

emp = db_reader().read_table('humanresources.employee', connection, col)
emp.head()

,BusinessEntityID,NationalIDNumber,LoginID,OrganizationLevel,JobTitle,BirthDate,MaritalStatus,Gender,HireDate,SalariedFlag,VacationHours,SickLeaveHours,CurrentFlag,rowguid,ModifiedDate
0,1,295847284,adventure-works\ken0,NaN,Chief Executive Officer,1969-01-29,S,M,2009-01-14,True,99,69,True,F01251E5-96A3-448D-981E-0F99D789110D,2014-06-30
1,2,245797967,adventure-works\terri0,1.0,Vice President of Engineering,1971-08-01,S,F,2008-01-31,True,1,20,True,45E8F437-670D-4409-93CB-F9424A40D6EE,2014-06-30
2,3,509647174,adventure-works\roberto0,2.0,Engineering Manager,1974-11-12,M,M,2007-11-11,True,2,21,True,9BBBFB2C-EFBB-4217-9AB7-F97689328841,2014-06-30
3,4,112457891,adventure-works\rob0,3.0,Senior Tool Designer,1974-12-23,S,M,2007-12-05,False,48,80,True,59747955-87B8-443F-8ED4-F8AD3AFDF3A9,2014-06-30
4,5,695256908,adventure-works\gail0,3.0,Design Engineer,1952-09-27,M,F,2008-01-06,True,5,22,True,EC84AE09-F9B8-4A15-B4A9-6CCBAB919B08,2014-06-30

In [402]:
emp['HireDate'] = pd.to_datetime(emp['HireDate'])

In [403]:
emp['HireDate'] = emp['HireDate'].dt.strftime('%A, %B %d, %Y')

In [404]:
emp[['BusinessEntityID', 'HireDate']].head()

   BusinessEntityID                      HireDate
0                 1   Wednesday, January 14, 2009
1                 2    Thursday, January 31, 2008
2                 3     Sunday, November 11, 2007
3                 4  Wednesday, December 05, 2007
4                 5      Sunday, January 06, 2008

In [405]:
# 140 List all products whose dimensions (height, width, depth) are converted to cubic centimeters

In [406]:
# 141 Retrieve the orders where the total amount is greater than $1000 and less than $2000.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [407]:
soh['TotalDue'] = (soh['TotalDue'] > 1000) & (soh['TotalDue'] < 2000)

In [408]:
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,True,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,False,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,False,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,False,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,False,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [409]:
# 142 List all products that are either in category 'Bikes' or have a list price greater than $1000

pro = db_reader().read_table('production.product', connection)
pro.head()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,SizeUnitMeasureCode,WeightUnitMeasureCode,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,False,False,None,1000,750,0.0,1000.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,694215B7-08F7-4C0D-ACB1-D734BA44C0C8,2014-02-08 10:01:36.827
1,2,Bearing Ball,BA-8327,False,False,None,1000,750,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,58AE3C20-4F3A-4749-A7D4-D568806CC537,2014-02-08 10:01:36.827
2,3,BB Ball Bearing,BE-2349,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E,2014-02-08 10:01:36.827
3,4,Headset Ball Bearings,BE-2908,False,False,None,800,600,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B,2014-02-08 10:01:36.827
4,316,Blade,BL-2036,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,E73E9750-603B-4131-89F5-3DD15ED5FF80,2014-02-08 10:01:36.827

In [410]:
sc = db_reader().read_table('production.productsubcategory', connection)
sc.head()

,ProductSubcategoryID,ProductCategoryID,Name,rowguid,ModifiedDate
0,1,1,Mountain Bikes,2D364ADE-264A-433C-B092-4FCBF3804E01,2008-04-30
1,2,1,Road Bikes,000310C0-BCC8-42C4-B0C3-45AE611AF06B,2008-04-30
2,3,1,Touring Bikes,02C5061D-ECDC-4274-B5F1-E91D76BC3F37,2008-04-30
3,4,2,Handlebars,3EF2C725-7135-4C85-9AE6-AE9A3BDD9283,2008-04-30
4,5,2,Bottom Brackets,A9E54089-8A1E-4CF5-8646-E3801F685934,2008-04-30

In [411]:
c = merge().merge_tbl(pro[['ProductID', 'ProductSubcategoryID', 'ListPrice']], sc[['ProductSubcategoryID', 'ProductCategoryID']], 'inner','ProductSubcategoryID')
c.head()

   ProductID  ProductSubcategoryID  ListPrice  ProductCategoryID
0        680                  14.0    1431.50                  2
1        706                  14.0    1431.50                  2
2        707                  31.0      34.99                  4
3        708                  31.0      34.99                  4
4        709                  23.0       9.50                  3

In [412]:
cat = db_reader().read_table('production.productcategory', connection)
cat.head()

,ProductCategoryID,Name,rowguid,ModifiedDate
0,1,Bikes,CFBDA25C-DF71-47A7-B81B-64EE161AA37C,2008-04-30
1,2,Components,C657828D-D808-4ABA-91A3-AF2CE02300E9,2008-04-30
2,3,Clothing,10A7C342-CA82-48D4-8A38-46A2EB089B74,2008-04-30
3,4,Accessories,2BE3BE36-D9A2-4EEE-B593-ED895D97C2A6,2008-04-30

In [413]:
n = merge().merge_tbl(c, cat[['ProductCategoryID', 'Name']], 'inner', 'ProductCategoryID')
n.head()

   ProductID  ProductSubcategoryID  ListPrice  ProductCategoryID         Name
0        680                  14.0    1431.50                  2   Components
1        706                  14.0    1431.50                  2   Components
2        707                  31.0      34.99                  4  Accessories
3        708                  31.0      34.99                  4  Accessories
4        709                  23.0       9.50                  3     Clothing

In [414]:
n = n[(n['Name'] == 'Bikes') | (n['ListPrice'] > 1000)]

In [415]:
n.head()

    ProductID  ProductSubcategoryID  ListPrice  ProductCategoryID        Name
0         680                  14.0     1431.5                  2  Components
1         706                  14.0     1431.5                  2  Components
12        717                  14.0     1431.5                  2  Components
13        718                  14.0     1431.5                  2  Components
14        719                  14.0     1431.5                  2  Components

In [416]:
# 143 Retrieve the orders where the ship date is NULL or the difference between the order date and ship date is greater than 7 days.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [417]:
soh['diff'] = (pd.to_datetime(soh['ShipDate']) - pd.to_datetime(soh['OrderDate'])).dt.days
soh['diff']

0        18
1         7
2         7
3         7
4         7
5         7
6         7
7         7
8         7
9         7
10        7
11        7
12        7
13        7
14        7
15        7
16        7
17        7
18        7
19        7
20        7
21        7
22        7
23        7
24        7
25        7
26        7
27        7
28        7
29        7
30        7
31        7
32        7
33        7
34        7
35        7
36        7
37        7
38        7
39        7
40        7
41        7
42        7
43        7
44        7
45        7
46        7
47        7
48        7
49        7
50        7
51        7
52        7
53        7
54        7
55        7
56        7
57        7
58        7
59        7
60        7
61        7
62        7
63        7
64        7
65        7
66        7
67        7
68        7
69        7
70        7
71        7
72        7
73        7
74        7
75        7
76        7
77        7
78        7
79        7
80        7
81        7
82        7
83        7
84        7
85        7
86        7
87        7
88        7
89        7
90        7
91        7
92        7
93        7
94        7
95        7
96        7
97        7
98        7
99        7
100       7
101       7
102       7
103       7
104       7
105       7
106       7
107       7
108       7
109       7
110       7
111       7
112       7
113       7
114       7
115       7
116       7
117       7
118       7
119       7
120       7
121       7
122       7
123       7
124       7
125       7
126       7
127       7
128       7
129       7
130       7
131       7
132       7
133       7
134       7
135       7
136       7
137       7
138       7
139       7
140       7
141       7
142       7
143       7
144       7
145       7
146       7
147       7
148       7
149       7
150       7
151       7
152       7
153       7
154       7
155       7
156       7
157       7
158       7
159       7
160       7
161       7
162       7
163       7
164       7
165       7
166       7
167       7
168       7
169       7
170       7
171       7
172       7
173       7
174       7
175       7
176       7
177       7
178       7
179       7
180       7
181       7
182       7
183       7
184       7
185       7
186       7
187       7
188       7
189       7
190       7
191       7
192       7
193       7
194       7
195       7
196       7
197       7
198       7
199       7
200       7
201       7
202       7
203       7
204       7
205       7
206       7
207       7
208       7
209       7
210       7
211       7
212       7
213       7
214       7
215       7
216       7
217       7
218       7
219       7
220       7
221       7
222       7
223       7
224       7
225       7
226       7
227       7
228       7
229       7
230       7
231       7
232       7
233       7
234       7
235       7
236       7
237       7
238       7
239       7
240       7
241       7
242       7
243       7
244       7
245       7
246       7
247       7
248       7
249       7
250       7
251       7
252       7
253       7
254       7
255       7
256       7
257       7
258       7
259       7
260       7
261       7
262       7
263       7
264       7
265       7
266       7
267       7
268       7
269       7
270       7
271       7
272       7
273       7
274       7
275       7
276       7
277       7
278       7
279       7
280       7
281       7
282       7
283       7
284       7
285       7
286       7
287       7
288       7
289       7
290       7
291       7
292       7
293       7
294       7
295       7
296       7
297       7
298       7
299       7
300       7
301       7
302       7
303       7
304       7
305       7
306       7
307       7
308       7
309       7
310       7
311       7
312       7
313       7
314       7
315       7
316       7
317       7
318       7
319       7
320       7
321       7
322       7
323       7
324       7
325       7
326       7
327       7
328       7
329       7
330       7
331       7
332       7
333       7
334       7
335       7
336       7
337       7
338       7
339       7
340       7
341       7
342       7
343       7
344       7
345       7
346       7
347       7
348       7
349       7
350       7
351       7
352       7
353       7
354       7
355       7
356       7
357       7
358       7
359       7
360       7
361       7
362       7
363       7
364       7
365       7
366       7
367       7
368       7
369       7
370       7
371       7
372       7
373       7
374       7
375       7
376       7
377       7
378       7
379       7
380       7
381       7
382       7
383       7
384       7
385       7
386       7
387       7
388       7
389       7
390       7
391       7
392       7
393       7
394       7
395       7
396       7
397       7
398       7
399       7
400       7
401       7
402       7
403       7
404       7
405       7
406       7
407       7
408       7
409       7
410       7
411       7
412       7
413       7
414       7
415       7
416       7
417       7
418       7
419       7
420       7
421       7
422       7
423       7
424       7
425       7
426       7
427       7
428       7
429       7
430       7
431       7
432       7
433       7
434       7
435       7
436       7
437       7
438       7
439       7
440       7
441       7
442       7
443       7
444       7
445       7
446       7
447       7
448       7
449       7
450       7
451       7
452       7
453       7
454       7
455       7
456       7
457       7
458       7
459       7
460       7
461       7
462       7
463       7
464       7
465       7
466       7
467       7
468       7
469       7
470       7
471       7
472       7
473       7
474       7
475       7
476       7
477       7
478       7
479       7
480       7
481       7
482       7
483       7
484       7
485       7
486       7
487       7
488       7
489       7
490       7
491       7
492       7
493       7
494       7
495       7
496       7
497       7
498       7
499       7
500       7
501       7
502       7
503       7
504       7
505       7
506       7
507       7
508       7
509       7
510       7
511       7
512       7
513       7
514       7
515       7
516       7
517       7
518       7
519       7
520       7
521       7
522       7
523       7
524       7
525       7
526       7
527       7
528       7
529       7
530       7
531       7
532       7
533       7
534       7
535       7
536       7
537       7
538       7
539       7
540       7
541       7
542       7
543       7
544       7
545       7
546       7
547       7
548       7
549       7
550       7
551       7
552       7
553       7
554       7
555       7
556       7
557       7
558       7
559       7
560       7
561       7
562       7
563       7
564       7
565       7
566       7
567       7
568       7
569       7
570       7
571       7
572       7
573       7
574       7
575       7
576       7
577       7
578       7
579       7
580       7
581       7
582       7
583       7
584       7
585       7
586       7
587       7
588       7
589       7
590       7
591       7
592       7
593       7
594       7
595       7
596       7
597       7
598       7
599       7
600       7
601       7
602       7
603       7
604       7
605       7
606       7
607       7
608       7
609       7
610       7
611       7
612       7
613       7
614       7
615       7
616       7
617       7
618       7
619       7
620       7
621       7
622       7
623       7
624       7
625       7
626       7
627       7
628       7
629       7
630       7
631       7
632       7
633       7
634       7
635       7
636       7
637       7
638       7
639       7
640       7
641       7
642       7
643       7
644       7
645       7
646       7
647       7
648       7
649       7
650       7
651       7
652       7
653       7
654       7
655       7
656       7
657       7
658       7
659       7
660       7
661       7
662       7
663       7
664       7
665       7
666       7
667       7
668       7
669       7
670       7
671       7
672       7
673       7
674       7
675       7
676       7
677       7
678       7
679       7
680       7
681       7
682       7
683       7
684       7
685       7
686       7
687       7
688       7
689       7
690       7
691       7
692       7
693       7
694       7
695       7
696       7
697       7
698       7
699       7
700       7
701       7
702       7
703       7
704       7
705       7
706       7
707       7
708       7
709       7
710       7
711       7
712       7
713       7
714       7
715       7
716       7
717       7
718       7
719       7
720       7
721       7
722       7
723       7
724       7
725       7
726       7
727       7
728       7
729       7
730       7
731       7
732       7
733       7
734       7
735       7
736       7
737       7
738       7
739       7
740       7
741       7
742       7
743       7
744       7
745       7
746       7
747       7
748       7
749       7
750       7
751       7
752       7
753       7
754       7
755       7
756       7
757       7
758       7
759       7
760       7
761       7
762       7
763       7
764       7
765       7
766       7
767       7
768       7
769       7
770       7
771       7
772       7
773       7
774       7
775       7
776       7
777       7
778       7
779       7
780       7
781       7
782       7
783       7
784       7
785       7
786       7
787       7
788       7
789       7
790       7
791       7
792       7
793       7
794       7
795       7
796       7
797       7
798       7
799       7
800       7
801       7
802       7
803       7
804       7
805       7
806       7
807       7
808       7
809       7
810       7
811       7
812       7
813       7
814       7
815       7
816       7
817       7
818       7
819       7
820       7
821       7
822       7
823       7
824       7
825       7
826       7
827       7
828       7
829       7
830       7
831       7
832       7
833       7
834       7
835       7
836       7
837       7
838       7
839       7
840       7
841       7
842       7
843       7
844       7
845       7
846       7
847       7
848       7
849       7
850       7
851       7
852       7
853       7
854       7
855       7
856       7
857       7
858       7
859       7
860       7
861       7
862       7
863       7
864       7
865       7
866       7
867       7
868       7
869       7
870       7
871       7
872       7
873       7
874       7
875       7
876       7
877       7
878       7
879       7
880       7
881       7
882       7
883       7
884       7
885       7
886       7
887       7
888       7
889       7
890       7
891       7
892       7
893       7
894       7
895       7
896       7
897       7
898       7
899       7
900       7
901       7
902       7
903       7
904       7
905       7
906       7
907       7
908       7
909       7
910       7
911       7
912       7
913       7
914       7
915       7
916       7
917       7
918       7
919       7
920       7
921       7
922       7
923       7
924       7
925       7
926       7
927       7
928       7
929       7
930       7
931       7
932       7
933       7
934       7
935       7
936       7
937       7
938       7
939       7
940       7
941       7
942       7
943       7
944       7
945       7
946       7
947       7
948       7
949       7
950       7
951       7
952       7
953       7
954       7
955       7
956       7
957       7
958       7
959       7
960       7
961       7
962       7
963       7
964       7
965       7
966       7
967       7
968       7
969       7
970       7
971       7
972       7
973       7
974       7
975       7
976       7
977       7
978       7
979       7
980       7
981       7
982       7
983       7
984       7
985       7
986       7
987       7
988       7
989       7
990       7
991       7
992       7
993       7
994       7
995       7
996       7
997       7
998       7
999       7
1000      7
1001      7
1002      7
1003      7
1004      7
1005      7
1006      7
1007      7
1008      7
1009      7
1010      7
1011      7
1012      7
1013      7
1014      7
1015      7
1016      7
1017      7
1018      7
1019      7
1020      7
1021      7
1022      7
1023      7
1024      7
1025      7
1026      7
1027      7
1028      7
1029      7
1030      7
1031      7
1032      7
1033      7
1034      7
1035      7
1036      7
1037      7
1038      7
1039      7
1040      7
1041      7
1042      7
1043      7
1044      7
1045      7
1046      7
1047      7
1048      7
1049      7
1050      7
1051      7
1052      7
1053      7
1054      7
1055      7
1056      7
1057      7
1058      7
1059      7
1060      7
1061      7
1062      7
1063      7
1064      7
1065      7
1066      7
1067      7
1068      7
1069      7
1070      7
1071      7
1072      7
1073      7
1074      7
1075      7
1076      7
1077      7
1078      7
1079      7
1080      7
1081      7
1082      7
1083      7
1084      7
1085      7
1086      7
1087      7
1088      7
1089      7
1090      7
1091      7
1092      7
1093      7
1094      7
1095      7
1096      7
1097      7
1098      7
1099      7
1100      7
1101      7
1102      7
1103      7
1104      7
1105      7
1106      7
1107      7
1108      7
1109      7
1110      7
1111      7
1112      7
1113      7
1114      7
1115      7
1116      7
1117      7
1118      7
1119      7
1120      7
1121      7
1122      7
1123      7
1124      7
1125      7
1126      7
1127      7
1128      7
1129      7
1130      7
1131      7
1132      7
1133      7
1134      7
1135      7
1136      7
1137      7
1138      7
1139      7
1140      7
1141      7
1142      7
1143      7
1144      7
1145      7
1146      7
1147      7
1148      7
1149      7
1150      7
1151      7
1152      7
1153      7
1154      7
1155      7
1156      7
1157      7
1158      7
1159      7
1160      7
1161      7
1162      7
1163      7
1164      7
1165      7
1166      7
1167      7
1168      7
1169      7
1170      7
1171      7
1172      7
1173      7
1174      7
1175      7
1176      7
1177      7
1178      7
1179      7
1180      7
1181      7
1182      7
1183      7
1184      7
1185      7
1186      7
1187      7
1188      7
1189      7
1190      7
1191      7
1192      7
1193      7
1194      7
1195      7
1196      7
1197      7
1198      7
1199      7
1200      7
1201      7
1202      7
1203      7
1204      7
1205      7
1206      7
1207      7
1208      7
1209      7
1210      7
1211      7
1212      7
1213      7
1214      7
1215      7
1216      7
1217      7
1218      7
1219      7
1220      7
1221      7
1222      7
1223      7
1224      7
1225      7
1226      7
1227      7
1228      7
1229      7
1230      7
1231      7
1232      7
1233      7
1234      7
1235      7
1236      7
1237      7
1238      7
1239      7
1240      7
1241      7
1242      7
1243      7
1244      7
1245      7
1246      7
1247      7
1248      7
1249      7
1250      7
1251      7
1252      7
1253      7
1254      7
1255      7
1256      7
1257      7
1258      7
1259      7
1260      7
1261      7
1262      7
1263      7
1264      7
1265      7
1266      7
1267      7
1268      7
1269      7
1270      7
1271      7
1272      7
1273      7
1274      7
1275      7
1276      7
1277      7
1278      7
1279      7
1280      7
1281      7
1282      7
1283      7
1284      7
1285      7
1286      7
1287      7
1288      7
1289      7
1290      7
1291      7
1292      7
1293      7
1294      7
1295      7
1296      7
1297      7
1298      7
1299      7
1300      7
1301      7
1302      7
1303      7
1304      7
1305      7
1306      7
1307      7
1308      7
1309      7
1310      7
1311      7
1312      7
1313      7
1314      7
1315      7
1316      7
1317      7
1318      7
1319      7
1320      7
1321      7
1322      7
1323      7
1324      7
1325      7
1326      7
1327      7
1328      7
1329      7
1330      7
1331      7
1332      7
1333      7
1334      7
1335      7
1336      7
1337      7
1338      7
1339      7
1340      7
1341      7
1342      7
1343      7
1344      7
1345      7
1346      7
1347      7
1348      7
1349      7
1350      7
1351      7
1352      7
1353      7
1354      7
1355      7
1356      7
1357      7
1358      7
1359      7
1360      7
1361      7
1362      7
1363      7
1364      7
1365      7
1366      7
1367      7
1368      7
1369      7
1370      7
1371      7
1372      7
1373      7
1374      7
1375      7
1376      7
1377      7
1378      7
1379      7
1380      7
1381      7
1382      7
1383      7
1384      7
1385      7
1386      7
1387      7
1388      7
1389      7
1390      7
1391      7
1392      7
1393      7
1394      7
1395      7
1396      7
1397      7
1398      7
1399      7
1400      7
1401      7
1402      7
1403      7
1404      7
1405      7
1406      7
1407      7
1408      7
1409      7
1410      7
1411      7
1412      7
1413      7
1414      7
1415      7
1416      7
1417      7
1418      7
1419      7
1420      7
1421      7
1422      7
1423      7
1424      7
1425      7
1426      7
1427      7
1428      7
1429      7
1430      7
1431      7
1432      7
1433      7
1434      7
1435      7
1436      7
1437      7
1438      7
1439      7
1440      7
1441      7
1442      7
1443      7
1444      7
1445      7
1446      7
1447      7
1448      7
1449      7
1450      7
1451      7
1452      7
1453      7
1454      7
1455      7
1456      7
1457      7
1458      7
1459      7
1460      7
1461      7
1462      7
1463      7
1464      7
1465      7
1466      7
1467      7
1468      7
1469      7
1470      7
1471      7
1472      7
1473      7
1474      7
1475      7
1476      7
1477      7
1478      7
1479      7
1480      7
1481      7
1482      7
1483      7
1484      7
1485      7
1486      7
1487      7
1488      7
1489      7
1490      7
1491      7
1492      7
1493      7
1494      7
1495      7
1496      7
1497      7
1498      7
1499      7
1500      7
1501      7
1502      7
1503      7
1504      7
1505      7
1506      7
1507      7
1508      7
1509      7
1510      7
1511      7
1512      7
1513      7
1514      7
1515      7
1516      7
1517      7
1518      7
1519      7
1520      7
1521      7
1522      7
1523      7
1524      7
1525      7
1526      7
1527      7
1528      7
1529      7
1530      7
1531      7
1532      7
1533      7
1534      7
1535      7
1536      7
1537      7
1538      7
1539      7
1540      7
1541      7
1542      7
1543      7
1544      7
1545      7
1546      7
1547      7
1548      7
1549      7
1550      7
1551      7
1552      7
1553      7
1554      7
1555      7
1556      7
1557      7
1558      7
1559      7
1560      7
1561      7
1562      7
1563      7
1564      7
1565      7
1566      7
1567      7
1568      7
1569      7
1570      7
1571      7
1572      7
1573      7
1574      7
1575      7
1576      7
1577      7
1578      7
1579      7
1580      7
1581      7
1582      7
1583      7
1584      7
1585      7
1586      7
1587      7
1588      7
1589      7
1590      7
1591      7
1592      7
1593      7
1594      7
1595      7
1596      7
1597      7
1598      7
1599      7
1600      7
1601      7
1602      7
1603      7
1604      7
1605      7
1606      7
1607      7
1608      7
1609      7
1610      7
1611      7
1612      7
1613      7
1614      7
1615      7
1616      7
1617      7
1618      7
1619      7
1620      7
1621      7
1622      7
1623      7
1624      7
1625      7
1626      7
1627      7
1628      7
1629      7
1630      7
1631      7
1632      7
1633      7
1634      7
1635      7
1636      7
1637      7
1638      7
1639      7
1640      7
1641      7
1642      7
1643      7
1644      7
1645      7
1646      7
1647      7
1648      7
1649      7
1650      7
1651      7
1652      7
1653      7
1654      7
1655      7
1656      7
1657      7
1658      7
1659      7
1660      7
1661      7
1662      7
1663      7
1664      7
1665      7

In [418]:
soh = soh[(soh['ShipDate'].isnull()) | (soh['diff'] > 7)]
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate,diff
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07,18
21429,65089,9,2014-01-28,2014-02-10,2014-02-05,5,False,SO65089,PO986112457,10-4020-000518,30079,288.0,8,743,743,5,206.0,46635Vi1057,11077.0,1466.0100,125.6580,39.2681,1630.9361,None,91858E70-0B81-4E96-8CD1-A25A7A79EA3A,2014-02-05,8
21430,65090,9,2014-01-28,2014-02-10,2014-02-05,5,False,SO65090,PO5481126157,10-4020-000014,29812,288.0,8,715,715,5,6291.0,88255Vi32672,11077.0,98.7740,7.9019,2.4694,109.1453,None,9363F316-FD43-4003-8B8F-1D220DC39083,2014-02-05,8
23542,67202,9,2014-02-28,2014-03-13,2014-03-08,5,False,SO67202,PO1682155237,10-4020-000572,29745,288.0,8,746,746,5,8579.0,17820Vi44368,NaN,249.5428,19.9634,6.2386,275.7448,None,B52687C1-C0A9-4063-96C2-4789E03227B6,2014-03-08,8
23543,67203,9,2014-02-28,2014-03-13,2014-03-08,5,False,SO67203,PO5423131670,10-4020-000639,29837,287.0,8,750,750,5,11888.0,58269Vi61420,11418.0,2465.2298,214.5225,67.0383,2746.7906,None,C6856A42-A289-4BF3-ADEA-86BE8F1E8DE8,2014-03-08,8

In [419]:
# 144 Find the employees who have either 'Sales Representative' or 'Sales Manager' as their job title.

col = ['BusinessEntityID',
    'NationalIDNumber',
    'LoginID',
    'OrganizationLevel',
    'JobTitle',
    'BirthDate',
    'MaritalStatus',
    'Gender',
    'HireDate',
    'SalariedFlag',
    'VacationHours',
    'SickLeaveHours',
    'CurrentFlag',
    'rowguid',
    'ModifiedDate']

emp = db_reader().read_table('humanresources.employee', connection, col)
emp.head()

,BusinessEntityID,NationalIDNumber,LoginID,OrganizationLevel,JobTitle,BirthDate,MaritalStatus,Gender,HireDate,SalariedFlag,VacationHours,SickLeaveHours,CurrentFlag,rowguid,ModifiedDate
0,1,295847284,adventure-works\ken0,NaN,Chief Executive Officer,1969-01-29,S,M,2009-01-14,True,99,69,True,F01251E5-96A3-448D-981E-0F99D789110D,2014-06-30
1,2,245797967,adventure-works\terri0,1.0,Vice President of Engineering,1971-08-01,S,F,2008-01-31,True,1,20,True,45E8F437-670D-4409-93CB-F9424A40D6EE,2014-06-30
2,3,509647174,adventure-works\roberto0,2.0,Engineering Manager,1974-11-12,M,M,2007-11-11,True,2,21,True,9BBBFB2C-EFBB-4217-9AB7-F97689328841,2014-06-30
3,4,112457891,adventure-works\rob0,3.0,Senior Tool Designer,1974-12-23,S,M,2007-12-05,False,48,80,True,59747955-87B8-443F-8ED4-F8AD3AFDF3A9,2014-06-30
4,5,695256908,adventure-works\gail0,3.0,Design Engineer,1952-09-27,M,F,2008-01-06,True,5,22,True,EC84AE09-F9B8-4A15-B4A9-6CCBAB919B08,2014-06-30

In [420]:
emp = emp[(emp['JobTitle'] == 'Sales Representative') | (emp['JobTitle'] == 'Sales Manager')]
emp.head()

,BusinessEntityID,NationalIDNumber,LoginID,OrganizationLevel,JobTitle,BirthDate,MaritalStatus,Gender,HireDate,SalariedFlag,VacationHours,SickLeaveHours,CurrentFlag,rowguid,ModifiedDate
274,275,841560125,adventure-works\michael9,3.0,Sales Representative,1968-12-25,S,M,2011-05-31,True,38,39,True,E19F8DE2-0F40-418C-84A2-DB48B98DC6A2,2014-06-30
275,276,191644724,adventure-works\linda3,3.0,Sales Representative,1980-02-27,M,F,2011-05-31,True,27,33,True,4509F387-D73A-43DC-A502-B1C27AA1DC9E,2014-06-30
276,277,615389812,adventure-works\jillian0,3.0,Sales Representative,1962-08-29,S,F,2011-05-31,True,24,32,True,A011C97B-081C-4739-996F-C1CAC4532F8D,2014-06-30
277,278,234474252,adventure-works\garrett1,3.0,Sales Representative,1975-02-04,M,M,2011-05-31,True,33,36,True,50EECC16-0D0D-43A9-9649-016C06DE8D78,2014-06-30
278,279,716374314,adventure-works\tsvi0,3.0,Sales Representative,1974-01-18,M,M,2011-05-31,True,29,34,True,BB510FCE-0105-4306-B591-6450D9EBF401,2014-06-30

In [421]:
# 145 Retrieve the orders where the customer has a credit limit greater than $5000 and the payment due is not yet received.

In [422]:
# 146 List all products with a list price less than $500 but not in the 'Accessories' category.

pro = db_reader().read_table('production.product', connection)
pro.head()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,SizeUnitMeasureCode,WeightUnitMeasureCode,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,False,False,None,1000,750,0.0,1000.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,694215B7-08F7-4C0D-ACB1-D734BA44C0C8,2014-02-08 10:01:36.827
1,2,Bearing Ball,BA-8327,False,False,None,1000,750,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,58AE3C20-4F3A-4749-A7D4-D568806CC537,2014-02-08 10:01:36.827
2,3,BB Ball Bearing,BE-2349,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E,2014-02-08 10:01:36.827
3,4,Headset Ball Bearings,BE-2908,False,False,None,800,600,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B,2014-02-08 10:01:36.827
4,316,Blade,BL-2036,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,E73E9750-603B-4131-89F5-3DD15ED5FF80,2014-02-08 10:01:36.827

In [423]:
sc = db_reader().read_table('production.productsubcategory', connection)
sc.head()

,ProductSubcategoryID,ProductCategoryID,Name,rowguid,ModifiedDate
0,1,1,Mountain Bikes,2D364ADE-264A-433C-B092-4FCBF3804E01,2008-04-30
1,2,1,Road Bikes,000310C0-BCC8-42C4-B0C3-45AE611AF06B,2008-04-30
2,3,1,Touring Bikes,02C5061D-ECDC-4274-B5F1-E91D76BC3F37,2008-04-30
3,4,2,Handlebars,3EF2C725-7135-4C85-9AE6-AE9A3BDD9283,2008-04-30
4,5,2,Bottom Brackets,A9E54089-8A1E-4CF5-8646-E3801F685934,2008-04-30

In [424]:
c = merge().merge_tbl(pro[['ProductID', 'ProductSubcategoryID', 'ListPrice']], sc[['ProductSubcategoryID', 'ProductCategoryID']], 'inner','ProductSubcategoryID')
c.head()

   ProductID  ProductSubcategoryID  ListPrice  ProductCategoryID
0        680                  14.0    1431.50                  2
1        706                  14.0    1431.50                  2
2        707                  31.0      34.99                  4
3        708                  31.0      34.99                  4
4        709                  23.0       9.50                  3

In [425]:
cat = db_reader().read_table('production.productcategory', connection)
cat.head()

,ProductCategoryID,Name,rowguid,ModifiedDate
0,1,Bikes,CFBDA25C-DF71-47A7-B81B-64EE161AA37C,2008-04-30
1,2,Components,C657828D-D808-4ABA-91A3-AF2CE02300E9,2008-04-30
2,3,Clothing,10A7C342-CA82-48D4-8A38-46A2EB089B74,2008-04-30
3,4,Accessories,2BE3BE36-D9A2-4EEE-B593-ED895D97C2A6,2008-04-30

In [426]:
n = merge().merge_tbl(c, cat[['ProductCategoryID', 'Name']], 'inner', 'ProductCategoryID')
n.head()

   ProductID  ProductSubcategoryID  ListPrice  ProductCategoryID         Name
0        680                  14.0    1431.50                  2   Components
1        706                  14.0    1431.50                  2   Components
2        707                  31.0      34.99                  4  Accessories
3        708                  31.0      34.99                  4  Accessories
4        709                  23.0       9.50                  3     Clothing

In [427]:
n = n[(n['Name'] != 'Accessories') & (n['ListPrice'] < 500)]

In [428]:
n.head()

   ProductID  ProductSubcategoryID  ListPrice  ProductCategoryID      Name
4        709                  23.0       9.50                  3  Clothing
5        710                  23.0       9.50                  3  Clothing
7        712                  19.0       8.99                  3  Clothing
8        713                  21.0      49.99                  3  Clothing
9        714                  21.0      49.99                  3  Clothing

In [429]:
# 147 Retrieve the orders where the payment due date is before the ship date or the payment due amount is greater than the total due amount.

In [430]:
# 148 Find the employees who started working after January 1, 2015, and are not in the 'Production Technician' role

col = ['BusinessEntityID',
    'NationalIDNumber',
    'LoginID',
    'OrganizationLevel',
    'JobTitle',
    'BirthDate',
    'MaritalStatus',
    'Gender',
    'HireDate',
    'SalariedFlag',
    'VacationHours',
    'SickLeaveHours',
    'CurrentFlag',
    'rowguid',
    'ModifiedDate']

emp = db_reader().read_table('humanresources.employee', connection, col)
emp.head()

,BusinessEntityID,NationalIDNumber,LoginID,OrganizationLevel,JobTitle,BirthDate,MaritalStatus,Gender,HireDate,SalariedFlag,VacationHours,SickLeaveHours,CurrentFlag,rowguid,ModifiedDate
0,1,295847284,adventure-works\ken0,NaN,Chief Executive Officer,1969-01-29,S,M,2009-01-14,True,99,69,True,F01251E5-96A3-448D-981E-0F99D789110D,2014-06-30
1,2,245797967,adventure-works\terri0,1.0,Vice President of Engineering,1971-08-01,S,F,2008-01-31,True,1,20,True,45E8F437-670D-4409-93CB-F9424A40D6EE,2014-06-30
2,3,509647174,adventure-works\roberto0,2.0,Engineering Manager,1974-11-12,M,M,2007-11-11,True,2,21,True,9BBBFB2C-EFBB-4217-9AB7-F97689328841,2014-06-30
3,4,112457891,adventure-works\rob0,3.0,Senior Tool Designer,1974-12-23,S,M,2007-12-05,False,48,80,True,59747955-87B8-443F-8ED4-F8AD3AFDF3A9,2014-06-30
4,5,695256908,adventure-works\gail0,3.0,Design Engineer,1952-09-27,M,F,2008-01-06,True,5,22,True,EC84AE09-F9B8-4A15-B4A9-6CCBAB919B08,2014-06-30

In [431]:
emp['HireDate'] = pd.to_datetime(emp['HireDate'])

In [432]:
emp = emp[(emp['HireDate'] > '2015-01-01') & (emp['JobTitle'] != 'Production Technician')] 
emp.head()

Empty DataFrame
Columns: [BusinessEntityID, NationalIDNumber, LoginID, OrganizationLevel, JobTitle, BirthDate, MaritalStatus, Gender, HireDate, SalariedFlag, VacationHours, SickLeaveHours, CurrentFlag, rowguid, ModifiedDate]
Index: []

In [433]:
# 149 Retrieve the orders where the payment due date is not in the future and the payment status is not 'Paid'.

In [434]:
# 150 List all customers whose email address is either null or contains 'gmail.com'.

email = db_reader().read_table('person.emailaddress', connection)
email.head()

,BusinessEntityID,EmailAddressID,EmailAddress,rowguid,ModifiedDate
0,1,1,newmail@gmail.com,8A1901E4-671B-431A-871C-EADB2942E9EE,2009-01-07
1,2,2,terri0@adventure-works.com,B5FF9EFD-72A2-4F87-830B-F338FDD4D162,2008-01-24
2,3,3,roberto0@adventure-works.com,C8A51084-1C03-4C58-A8B3-55854AE7C499,2007-11-04
3,4,4,rob0@adventure-works.com,17703ED1-0031-4B4A-AFD2-77487A556B3B,2007-11-28
4,5,5,gail0@adventure-works.com,E76D2EA3-08E5-409C-BBE2-5DD1CDF89A3B,2007-12-30

In [435]:
email = email[(email['EmailAddress'].isnull()) | email['EmailAddress'].str.contains('gmail.com')]
email.head()

,BusinessEntityID,EmailAddressID,EmailAddress,rowguid,ModifiedDate
0,1,1,newmail@gmail.com,8A1901E4-671B-431A-871C-EADB2942E9EE,2009-01-07

In [436]:
# 151 Retrieve the orders where the total amount is greater than $1000 or the payment status is 'Partial'.

In [437]:
# 152 List all products that are either out of stock or have a list price greater than $2000

In [438]:
# 153 Retrieve the orders where the ship date is NULL and the payment status is not 'Paid'.

In [439]:
# 154 Find the employees who have either 'Sales Representative' or 'Sales Manager' as their job title and have a salary greater than $50000.

col = ['BusinessEntityID',
    'NationalIDNumber',
    'LoginID',
    'OrganizationLevel',
    'JobTitle',
    'BirthDate',
    'MaritalStatus',
    'Gender',
    'HireDate',
    'SalariedFlag',
    'VacationHours',
    'SickLeaveHours',
    'CurrentFlag',
    'rowguid',
    'ModifiedDate']

emp = db_reader().read_table('humanresources.employee', connection, col)
emp.head()

,BusinessEntityID,NationalIDNumber,LoginID,OrganizationLevel,JobTitle,BirthDate,MaritalStatus,Gender,HireDate,SalariedFlag,VacationHours,SickLeaveHours,CurrentFlag,rowguid,ModifiedDate
0,1,295847284,adventure-works\ken0,NaN,Chief Executive Officer,1969-01-29,S,M,2009-01-14,True,99,69,True,F01251E5-96A3-448D-981E-0F99D789110D,2014-06-30
1,2,245797967,adventure-works\terri0,1.0,Vice President of Engineering,1971-08-01,S,F,2008-01-31,True,1,20,True,45E8F437-670D-4409-93CB-F9424A40D6EE,2014-06-30
2,3,509647174,adventure-works\roberto0,2.0,Engineering Manager,1974-11-12,M,M,2007-11-11,True,2,21,True,9BBBFB2C-EFBB-4217-9AB7-F97689328841,2014-06-30
3,4,112457891,adventure-works\rob0,3.0,Senior Tool Designer,1974-12-23,S,M,2007-12-05,False,48,80,True,59747955-87B8-443F-8ED4-F8AD3AFDF3A9,2014-06-30
4,5,695256908,adventure-works\gail0,3.0,Design Engineer,1952-09-27,M,F,2008-01-06,True,5,22,True,EC84AE09-F9B8-4A15-B4A9-6CCBAB919B08,2014-06-30

In [440]:
emp = emp[(emp['JobTitle'] != 'Sales Representative') | (emp['JobTitle'] != 'Sales Manager')] 
emp.head()

,BusinessEntityID,NationalIDNumber,LoginID,OrganizationLevel,JobTitle,BirthDate,MaritalStatus,Gender,HireDate,SalariedFlag,VacationHours,SickLeaveHours,CurrentFlag,rowguid,ModifiedDate
0,1,295847284,adventure-works\ken0,NaN,Chief Executive Officer,1969-01-29,S,M,2009-01-14,True,99,69,True,F01251E5-96A3-448D-981E-0F99D789110D,2014-06-30
1,2,245797967,adventure-works\terri0,1.0,Vice President of Engineering,1971-08-01,S,F,2008-01-31,True,1,20,True,45E8F437-670D-4409-93CB-F9424A40D6EE,2014-06-30
2,3,509647174,adventure-works\roberto0,2.0,Engineering Manager,1974-11-12,M,M,2007-11-11,True,2,21,True,9BBBFB2C-EFBB-4217-9AB7-F97689328841,2014-06-30
3,4,112457891,adventure-works\rob0,3.0,Senior Tool Designer,1974-12-23,S,M,2007-12-05,False,48,80,True,59747955-87B8-443F-8ED4-F8AD3AFDF3A9,2014-06-30
4,5,695256908,adventure-works\gail0,3.0,Design Engineer,1952-09-27,M,F,2008-01-06,True,5,22,True,EC84AE09-F9B8-4A15-B4A9-6CCBAB919B08,2014-06-30

In [441]:
# 155 Retrieve the orders where the payment due date is before the ship date or the payment status is 'Overdue'.

In [442]:
# 156 List all products with a list price less than $500 but not in the 'Bikes' category.

pro = db_reader().read_table('production.product', connection)
pro.head()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,SizeUnitMeasureCode,WeightUnitMeasureCode,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,False,False,None,1000,750,0.0,1000.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,694215B7-08F7-4C0D-ACB1-D734BA44C0C8,2014-02-08 10:01:36.827
1,2,Bearing Ball,BA-8327,False,False,None,1000,750,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,58AE3C20-4F3A-4749-A7D4-D568806CC537,2014-02-08 10:01:36.827
2,3,BB Ball Bearing,BE-2349,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E,2014-02-08 10:01:36.827
3,4,Headset Ball Bearings,BE-2908,False,False,None,800,600,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B,2014-02-08 10:01:36.827
4,316,Blade,BL-2036,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,E73E9750-603B-4131-89F5-3DD15ED5FF80,2014-02-08 10:01:36.827

In [443]:
sc = db_reader().read_table('production.productsubcategory', connection)
sc.head()

,ProductSubcategoryID,ProductCategoryID,Name,rowguid,ModifiedDate
0,1,1,Mountain Bikes,2D364ADE-264A-433C-B092-4FCBF3804E01,2008-04-30
1,2,1,Road Bikes,000310C0-BCC8-42C4-B0C3-45AE611AF06B,2008-04-30
2,3,1,Touring Bikes,02C5061D-ECDC-4274-B5F1-E91D76BC3F37,2008-04-30
3,4,2,Handlebars,3EF2C725-7135-4C85-9AE6-AE9A3BDD9283,2008-04-30
4,5,2,Bottom Brackets,A9E54089-8A1E-4CF5-8646-E3801F685934,2008-04-30

In [444]:
c = merge().merge_tbl(pro[['ProductID', 'ProductSubcategoryID', 'ListPrice']], sc[['ProductSubcategoryID', 'ProductCategoryID']], 'inner','ProductSubcategoryID')
c.head()

   ProductID  ProductSubcategoryID  ListPrice  ProductCategoryID
0        680                  14.0    1431.50                  2
1        706                  14.0    1431.50                  2
2        707                  31.0      34.99                  4
3        708                  31.0      34.99                  4
4        709                  23.0       9.50                  3

In [445]:
cat = db_reader().read_table('production.productcategory', connection)
cat.head()

,ProductCategoryID,Name,rowguid,ModifiedDate
0,1,Bikes,CFBDA25C-DF71-47A7-B81B-64EE161AA37C,2008-04-30
1,2,Components,C657828D-D808-4ABA-91A3-AF2CE02300E9,2008-04-30
2,3,Clothing,10A7C342-CA82-48D4-8A38-46A2EB089B74,2008-04-30
3,4,Accessories,2BE3BE36-D9A2-4EEE-B593-ED895D97C2A6,2008-04-30

In [446]:
n = merge().merge_tbl(c, cat[['ProductCategoryID', 'Name']], 'inner', 'ProductCategoryID')
n.head()

   ProductID  ProductSubcategoryID  ListPrice  ProductCategoryID         Name
0        680                  14.0    1431.50                  2   Components
1        706                  14.0    1431.50                  2   Components
2        707                  31.0      34.99                  4  Accessories
3        708                  31.0      34.99                  4  Accessories
4        709                  23.0       9.50                  3     Clothing

In [447]:
n = n[(n['Name'] != 'Bikes') & (n['ListPrice'] < 500)]

In [448]:
n.head()

   ProductID  ProductSubcategoryID  ListPrice  ProductCategoryID         Name
2        707                  31.0      34.99                  4  Accessories
3        708                  31.0      34.99                  4  Accessories
4        709                  23.0       9.50                  3     Clothing
5        710                  23.0       9.50                  3     Clothing
6        711                  31.0      34.99                  4  Accessories

In [449]:
# 157 Retrieve the orders where the payment due date is not in the future or the payment status is 'Pending'.

In [450]:
# 158 Find the employees who started working after January 1, 2015, and have a job title other than 'Sales Manager'.

col = ['BusinessEntityID',
    'NationalIDNumber',
    'LoginID',
    'OrganizationLevel',
    'JobTitle',
    'BirthDate',
    'MaritalStatus',
    'Gender',
    'HireDate',
    'SalariedFlag',
    'VacationHours',
    'SickLeaveHours',
    'CurrentFlag',
    'rowguid',
    'ModifiedDate']

emp = db_reader().read_table('humanresources.employee', connection, col)
emp.head()

,BusinessEntityID,NationalIDNumber,LoginID,OrganizationLevel,JobTitle,BirthDate,MaritalStatus,Gender,HireDate,SalariedFlag,VacationHours,SickLeaveHours,CurrentFlag,rowguid,ModifiedDate
0,1,295847284,adventure-works\ken0,NaN,Chief Executive Officer,1969-01-29,S,M,2009-01-14,True,99,69,True,F01251E5-96A3-448D-981E-0F99D789110D,2014-06-30
1,2,245797967,adventure-works\terri0,1.0,Vice President of Engineering,1971-08-01,S,F,2008-01-31,True,1,20,True,45E8F437-670D-4409-93CB-F9424A40D6EE,2014-06-30
2,3,509647174,adventure-works\roberto0,2.0,Engineering Manager,1974-11-12,M,M,2007-11-11,True,2,21,True,9BBBFB2C-EFBB-4217-9AB7-F97689328841,2014-06-30
3,4,112457891,adventure-works\rob0,3.0,Senior Tool Designer,1974-12-23,S,M,2007-12-05,False,48,80,True,59747955-87B8-443F-8ED4-F8AD3AFDF3A9,2014-06-30
4,5,695256908,adventure-works\gail0,3.0,Design Engineer,1952-09-27,M,F,2008-01-06,True,5,22,True,EC84AE09-F9B8-4A15-B4A9-6CCBAB919B08,2014-06-30

In [451]:
emp['HireDate'] = pd.to_datetime(emp['HireDate'])

In [452]:
emp = emp[(emp['HireDate'] > '2015-01-01') & (emp['JobTitle'] != 'Sales Manager')] 
emp.head()

Empty DataFrame
Columns: [BusinessEntityID, NationalIDNumber, LoginID, OrganizationLevel, JobTitle, BirthDate, MaritalStatus, Gender, HireDate, SalariedFlag, VacationHours, SickLeaveHours, CurrentFlag, rowguid, ModifiedDate]
Index: []

In [453]:
# 159 Retrieve the orders where the payment due date is not in the past and the payment status is not 'Paid' or 'Partial'.

In [454]:
# 160 List all customers whose email address is either null or contains 'hotmail.com' but not 'gmail.com'.

email = db_reader().read_table('person.emailaddress', connection)
email.head()

,BusinessEntityID,EmailAddressID,EmailAddress,rowguid,ModifiedDate
0,1,1,newmail@gmail.com,8A1901E4-671B-431A-871C-EADB2942E9EE,2009-01-07
1,2,2,terri0@adventure-works.com,B5FF9EFD-72A2-4F87-830B-F338FDD4D162,2008-01-24
2,3,3,roberto0@adventure-works.com,C8A51084-1C03-4C58-A8B3-55854AE7C499,2007-11-04
3,4,4,rob0@adventure-works.com,17703ED1-0031-4B4A-AFD2-77487A556B3B,2007-11-28
4,5,5,gail0@adventure-works.com,E76D2EA3-08E5-409C-BBE2-5DD1CDF89A3B,2007-12-30

In [455]:
email = email[(email['EmailAddress'].isnull()) | email['EmailAddress'].str.contains('gmail.com') | email['EmailAddress'].str.contains('hotmail.com')]
email.head()

,BusinessEntityID,EmailAddressID,EmailAddress,rowguid,ModifiedDate
0,1,1,newmail@gmail.com,8A1901E4-671B-431A-871C-EADB2942E9EE,2009-01-07
19972,20778,19973,aravndh@hotmail.com,052B671A-1FAB-4FE2-B45C-035882DFCF34,2009-01-22

In [456]:
# 162 Retrieve the orders where the total amount is greater than $5000 and the payment status is either 'Pending' or 'Partial'.

In [457]:
# 163 List all products that are either in stock or have a list price greater than $1500 and belong to the 'Road Bikes' category.

In [458]:
# 164 Retrieve the orders where the ship date is NULL and the payment status is 'Pending', or the payment due amount is greater than $500.

In [459]:
# 165 Find the employees who have 'Senior' in their job title or have a salary greater than $80000.

col = ['BusinessEntityID',
    'NationalIDNumber',
    'LoginID',
    'OrganizationLevel',
    'JobTitle',
    'BirthDate',
    'MaritalStatus',
    'Gender',
    'HireDate',
    'SalariedFlag',
    'VacationHours',
    'SickLeaveHours',
    'CurrentFlag',
    'rowguid',
    'ModifiedDate']

emp = db_reader().read_table('humanresources.employee', connection, col)
emp.head()

,BusinessEntityID,NationalIDNumber,LoginID,OrganizationLevel,JobTitle,BirthDate,MaritalStatus,Gender,HireDate,SalariedFlag,VacationHours,SickLeaveHours,CurrentFlag,rowguid,ModifiedDate
0,1,295847284,adventure-works\ken0,NaN,Chief Executive Officer,1969-01-29,S,M,2009-01-14,True,99,69,True,F01251E5-96A3-448D-981E-0F99D789110D,2014-06-30
1,2,245797967,adventure-works\terri0,1.0,Vice President of Engineering,1971-08-01,S,F,2008-01-31,True,1,20,True,45E8F437-670D-4409-93CB-F9424A40D6EE,2014-06-30
2,3,509647174,adventure-works\roberto0,2.0,Engineering Manager,1974-11-12,M,M,2007-11-11,True,2,21,True,9BBBFB2C-EFBB-4217-9AB7-F97689328841,2014-06-30
3,4,112457891,adventure-works\rob0,3.0,Senior Tool Designer,1974-12-23,S,M,2007-12-05,False,48,80,True,59747955-87B8-443F-8ED4-F8AD3AFDF3A9,2014-06-30
4,5,695256908,adventure-works\gail0,3.0,Design Engineer,1952-09-27,M,F,2008-01-06,True,5,22,True,EC84AE09-F9B8-4A15-B4A9-6CCBAB919B08,2014-06-30

In [460]:
emp = emp[emp['JobTitle'].str.contains('Senior')] 
emp.head()

,BusinessEntityID,NationalIDNumber,LoginID,OrganizationLevel,JobTitle,BirthDate,MaritalStatus,Gender,HireDate,SalariedFlag,VacationHours,SickLeaveHours,CurrentFlag,rowguid,ModifiedDate
3,4,112457891,adventure-works\rob0,3.0,Senior Tool Designer,1974-12-23,S,M,2007-12-05,False,48,80,True,59747955-87B8-443F-8ED4-F8AD3AFDF3A9,2014-06-30
10,11,974026903,adventure-works\ovidiu0,3.0,Senior Tool Designer,1978-01-17,S,M,2010-12-05,False,7,23,True,F68C7C19-FAC1-438C-9BB7-AC33FCC341C3,2014-06-30
13,14,42487730,adventure-works\michael8,3.0,Senior Design Engineer,1979-06-16,S,M,2010-12-30,True,3,21,True,46286CA4-46DD-4DDB-9128-85B67E98D1A9,2014-06-30

In [461]:
# 166 Retrieve the orders where the payment due date is before the ship date and the payment status is 'Overdue', or the total amount is greater than $10000.

In [462]:
# 167 List all products with a list price less than $1000 but not in the 'Components' category.

pro = db_reader().read_table('production.product', connection)
pro.head()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,SizeUnitMeasureCode,WeightUnitMeasureCode,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,False,False,None,1000,750,0.0,1000.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,694215B7-08F7-4C0D-ACB1-D734BA44C0C8,2014-02-08 10:01:36.827
1,2,Bearing Ball,BA-8327,False,False,None,1000,750,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,58AE3C20-4F3A-4749-A7D4-D568806CC537,2014-02-08 10:01:36.827
2,3,BB Ball Bearing,BE-2349,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E,2014-02-08 10:01:36.827
3,4,Headset Ball Bearings,BE-2908,False,False,None,800,600,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B,2014-02-08 10:01:36.827
4,316,Blade,BL-2036,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,E73E9750-603B-4131-89F5-3DD15ED5FF80,2014-02-08 10:01:36.827

In [463]:
sc = db_reader().read_table('production.productsubcategory', connection)
sc.head()

,ProductSubcategoryID,ProductCategoryID,Name,rowguid,ModifiedDate
0,1,1,Mountain Bikes,2D364ADE-264A-433C-B092-4FCBF3804E01,2008-04-30
1,2,1,Road Bikes,000310C0-BCC8-42C4-B0C3-45AE611AF06B,2008-04-30
2,3,1,Touring Bikes,02C5061D-ECDC-4274-B5F1-E91D76BC3F37,2008-04-30
3,4,2,Handlebars,3EF2C725-7135-4C85-9AE6-AE9A3BDD9283,2008-04-30
4,5,2,Bottom Brackets,A9E54089-8A1E-4CF5-8646-E3801F685934,2008-04-30

In [464]:
c = merge().merge_tbl(pro[['ProductID', 'ProductSubcategoryID', 'ListPrice']], sc[['ProductSubcategoryID', 'ProductCategoryID']], 'inner','ProductSubcategoryID')
c.head()

   ProductID  ProductSubcategoryID  ListPrice  ProductCategoryID
0        680                  14.0    1431.50                  2
1        706                  14.0    1431.50                  2
2        707                  31.0      34.99                  4
3        708                  31.0      34.99                  4
4        709                  23.0       9.50                  3

In [465]:
cat = db_reader().read_table('production.productcategory', connection)
cat.head()

,ProductCategoryID,Name,rowguid,ModifiedDate
0,1,Bikes,CFBDA25C-DF71-47A7-B81B-64EE161AA37C,2008-04-30
1,2,Components,C657828D-D808-4ABA-91A3-AF2CE02300E9,2008-04-30
2,3,Clothing,10A7C342-CA82-48D4-8A38-46A2EB089B74,2008-04-30
3,4,Accessories,2BE3BE36-D9A2-4EEE-B593-ED895D97C2A6,2008-04-30

In [466]:
n = merge().merge_tbl(c, cat[['ProductCategoryID', 'Name']], 'inner', 'ProductCategoryID')
n.head()

   ProductID  ProductSubcategoryID  ListPrice  ProductCategoryID         Name
0        680                  14.0    1431.50                  2   Components
1        706                  14.0    1431.50                  2   Components
2        707                  31.0      34.99                  4  Accessories
3        708                  31.0      34.99                  4  Accessories
4        709                  23.0       9.50                  3     Clothing

In [467]:
n = n[(n['Name'] != 'Components') & (n['ListPrice'] < 1000)]

In [468]:
n.head()

   ProductID  ProductSubcategoryID  ListPrice  ProductCategoryID         Name
2        707                  31.0      34.99                  4  Accessories
3        708                  31.0      34.99                  4  Accessories
4        709                  23.0       9.50                  3     Clothing
5        710                  23.0       9.50                  3     Clothing
6        711                  31.0      34.99                  4  Accessories

In [469]:
# 168 Retrieve the orders where the payment due date is in the future or the payment status is either 'Pending' or 'Partial'.

In [470]:
# 169 Find the employees who started working after January 1, 2018, and are not in the 'Marketing' department

col = ['BusinessEntityID',
    'NationalIDNumber',
    'LoginID',
    'OrganizationLevel',
    'JobTitle',
    'BirthDate',
    'MaritalStatus',
    'Gender',
    'HireDate',
    'SalariedFlag',
    'VacationHours',
    'SickLeaveHours',
    'CurrentFlag',
    'rowguid',
    'ModifiedDate']

emp = db_reader().read_table('humanresources.employee', connection, col)
emp.head()

,BusinessEntityID,NationalIDNumber,LoginID,OrganizationLevel,JobTitle,BirthDate,MaritalStatus,Gender,HireDate,SalariedFlag,VacationHours,SickLeaveHours,CurrentFlag,rowguid,ModifiedDate
0,1,295847284,adventure-works\ken0,NaN,Chief Executive Officer,1969-01-29,S,M,2009-01-14,True,99,69,True,F01251E5-96A3-448D-981E-0F99D789110D,2014-06-30
1,2,245797967,adventure-works\terri0,1.0,Vice President of Engineering,1971-08-01,S,F,2008-01-31,True,1,20,True,45E8F437-670D-4409-93CB-F9424A40D6EE,2014-06-30
2,3,509647174,adventure-works\roberto0,2.0,Engineering Manager,1974-11-12,M,M,2007-11-11,True,2,21,True,9BBBFB2C-EFBB-4217-9AB7-F97689328841,2014-06-30
3,4,112457891,adventure-works\rob0,3.0,Senior Tool Designer,1974-12-23,S,M,2007-12-05,False,48,80,True,59747955-87B8-443F-8ED4-F8AD3AFDF3A9,2014-06-30
4,5,695256908,adventure-works\gail0,3.0,Design Engineer,1952-09-27,M,F,2008-01-06,True,5,22,True,EC84AE09-F9B8-4A15-B4A9-6CCBAB919B08,2014-06-30

In [471]:
emp['HireDate'] = pd.to_datetime(emp['HireDate'])

In [472]:
emp = emp[(emp['HireDate'] > '2015-01-01') & (emp['JobTitle'] != 'Sales Manager')] 
emp.head()

Empty DataFrame
Columns: [BusinessEntityID, NationalIDNumber, LoginID, OrganizationLevel, JobTitle, BirthDate, MaritalStatus, Gender, HireDate, SalariedFlag, VacationHours, SickLeaveHours, CurrentFlag, rowguid, ModifiedDate]
Index: []

In [473]:
# 170 Retrieve the orders where the payment due date is not in the past and the payment status is not 'Paid' and not 'Pending'.

In [474]:
# 171 List all customers whose email address is either null or contains 'yahoo.com' and does not contain 'gmail.com'.

email = db_reader().read_table('person.emailaddress', connection)
email.head()

,BusinessEntityID,EmailAddressID,EmailAddress,rowguid,ModifiedDate
0,1,1,newmail@gmail.com,8A1901E4-671B-431A-871C-EADB2942E9EE,2009-01-07
1,2,2,terri0@adventure-works.com,B5FF9EFD-72A2-4F87-830B-F338FDD4D162,2008-01-24
2,3,3,roberto0@adventure-works.com,C8A51084-1C03-4C58-A8B3-55854AE7C499,2007-11-04
3,4,4,rob0@adventure-works.com,17703ED1-0031-4B4A-AFD2-77487A556B3B,2007-11-28
4,5,5,gail0@adventure-works.com,E76D2EA3-08E5-409C-BBE2-5DD1CDF89A3B,2007-12-30

In [475]:
email = email[(email['EmailAddress'].isnull()) | email['EmailAddress'].str.contains('gmail.com') | email['EmailAddress'].str.contains('yahoo.com')]
email.head()

,BusinessEntityID,EmailAddressID,EmailAddress,rowguid,ModifiedDate
0,1,1,newmail@gmail.com,8A1901E4-671B-431A-871C-EADB2942E9EE,2009-01-07

In [476]:
# 172 Retrieve the sales order ID, order date, and the running total sales amount for each order, sorted by order date.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [477]:
soh['RunningTotal'] = soh['TotalDue'].cumsum()

In [478]:
soh[['SalesOrderID', 'OrderDate', 'TotalDue','RunningTotal']].head()

   SalesOrderID  OrderDate    TotalDue  RunningTotal
0         43660 2011-05-20   1457.3288     1457.3288
1         43661 2011-05-31  36865.8012    38323.1300
2         43662 2011-05-31  32474.9324    70798.0624
3         43663 2011-05-31    472.3108    71270.3732
4         43664 2011-05-31  27510.4109    98780.7841

In [479]:
# 173 Find the product ID, name, and the cumulative sum of quantities sold for each product, ordered by product ID.

sod = db_reader().read_table('sales.salesorderdetail', connection)
sod.head()

,SalesOrderID,SalesOrderDetailID,CarrierTrackingNumber,OrderQty,ProductID,SpecialOfferID,UnitPrice,UnitPriceDiscount,LineTotal,rowguid,ModifiedDate
0,43660,13,6431-4D57-83,1,762,1,419.4589,0.0,419.4589,419A1302-AC7A-4044-97B2-66D9D14CD02E,2011-05-31
1,43660,14,6431-4D57-83,1,758,1,874.7940,0.0,874.7940,5D0B2B03-1D4C-4C34-9696-C14C58E7301C,2011-05-31
2,43661,15,4E0A-4F89-AE,1,745,1,809.7600,0.0,809.7600,EDE1759E-6733-4C7B-A43F-DC6F48002D8A,2011-05-31
3,43661,16,4E0A-4F89-AE,1,743,1,714.7043,0.0,714.7043,FE10BF09-D477-485B-9541-27AE8053A6D4,2011-05-31
4,43661,17,4E0A-4F89-AE,2,747,1,714.7043,0.0,1429.4086,B136852E-24C9-4006-8048-B14AEFE6C337,2011-05-31

In [480]:
sod['CumulativeSum'] = sod.groupby('ProductID')['OrderQty'].cumsum()

In [481]:
sod[['ProductID', 'OrderQty', 'CumulativeSum']].sort_values(['ProductID', 'CumulativeSum']).head(10)

     ProductID  OrderQty  CumulativeSum
50         707         1              1
74         707         2              3
126        707         4              7
151        707         1              8
172        707         1              9
179        707         4             13
194        707         1             14
227        707         3             17
308        707         4             21
313        707         2             23

In [482]:
# 174 Retrieve the employee ID, hire date, and the running count of employees hired over time, ordered by hire date.

col = ['BusinessEntityID',
    'NationalIDNumber',
    'LoginID',
    'OrganizationLevel',
    'JobTitle',
    'BirthDate',
    'MaritalStatus',
    'Gender',
    'HireDate',
    'SalariedFlag',
    'VacationHours',
    'SickLeaveHours',
    'CurrentFlag',
    'rowguid',
    'ModifiedDate']

emp = db_reader().read_table('humanresources.employee', connection, col)
emp.head()

,BusinessEntityID,NationalIDNumber,LoginID,OrganizationLevel,JobTitle,BirthDate,MaritalStatus,Gender,HireDate,SalariedFlag,VacationHours,SickLeaveHours,CurrentFlag,rowguid,ModifiedDate
0,1,295847284,adventure-works\ken0,NaN,Chief Executive Officer,1969-01-29,S,M,2009-01-14,True,99,69,True,F01251E5-96A3-448D-981E-0F99D789110D,2014-06-30
1,2,245797967,adventure-works\terri0,1.0,Vice President of Engineering,1971-08-01,S,F,2008-01-31,True,1,20,True,45E8F437-670D-4409-93CB-F9424A40D6EE,2014-06-30
2,3,509647174,adventure-works\roberto0,2.0,Engineering Manager,1974-11-12,M,M,2007-11-11,True,2,21,True,9BBBFB2C-EFBB-4217-9AB7-F97689328841,2014-06-30
3,4,112457891,adventure-works\rob0,3.0,Senior Tool Designer,1974-12-23,S,M,2007-12-05,False,48,80,True,59747955-87B8-443F-8ED4-F8AD3AFDF3A9,2014-06-30
4,5,695256908,adventure-works\gail0,3.0,Design Engineer,1952-09-27,M,F,2008-01-06,True,5,22,True,EC84AE09-F9B8-4A15-B4A9-6CCBAB919B08,2014-06-30

In [580]:
emp['Year'] = pd.to_datetime(emp['HireDate']).dt.year

In [583]:
emp['RunningTotal'] = emp.groupby('Year')['BusinessEntityID'].cumcount()

In [584]:
emp[['BusinessEntityID', 'HireDate', 'RunningTotal']].sort_values('HireDate').head(10)

    BusinessEntityID    HireDate  RunningTotal
27                28  2006-06-30             0
16                17  2007-01-26             4
2                  3  2007-11-11             0
3                  4  2007-12-05             1
11                12  2007-12-11             2
15                16  2007-12-20             3
39                40  2007-12-26             5
4                  5  2008-01-06             1
47                48  2008-01-06            11
48                49  2008-01-07            12

In [485]:
# 175 Find the sales order ID, order date, and the rank of each order based on the total sales amount, ordered by order date.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [486]:
soh['Rank'] = soh['TotalDue'].rank()

In [487]:
soh[['SalesOrderID' ,'OrderDate' ,'TotalDue', 'Rank']].sort_values('OrderDate').head()

    SalesOrderID  OrderDate   TotalDue     Rank
0          43660 2011-05-20  1457.3288  18895.0
24         43684 2011-05-31  6301.6258  29321.0
25         43685 2011-05-31  3082.0191  26928.0
26         43686 2011-05-31  3899.6756  27447.0
27         43687 2011-05-31  1416.9322  18834.0

In [488]:
# 176 Retrieve the customer ID, order date, and the percentage of total sales amount contributed by each order, ordered by order date.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [489]:
total = soh['TotalDue'].sum()

In [490]:
soh['Contribution'] = (soh['TotalDue']/total)*100

In [491]:
soh[['SalesOrderID', 'CustomerID', 'OrderDate', 'TotalDue', 'Contribution']].head()

   SalesOrderID  CustomerID  OrderDate    TotalDue  Contribution
0         43660       29672 2011-05-20   1457.3288      0.001183
1         43661       29734 2011-05-31  36865.8012      0.029919
2         43662       29994 2011-05-31  32474.9324      0.026356
3         43663       29565 2011-05-31    472.3108      0.000383
4         43664       29898 2011-05-31  27510.4109      0.022327

In [492]:
# 177 List the product ID, name, and the difference between the current row's list price and the average list price of all products, ordered by product ID.

pro = db_reader().read_table('production.product', connection)
pro.head()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,SizeUnitMeasureCode,WeightUnitMeasureCode,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,False,False,None,1000,750,0.0,1000.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,694215B7-08F7-4C0D-ACB1-D734BA44C0C8,2014-02-08 10:01:36.827
1,2,Bearing Ball,BA-8327,False,False,None,1000,750,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,58AE3C20-4F3A-4749-A7D4-D568806CC537,2014-02-08 10:01:36.827
2,3,BB Ball Bearing,BE-2349,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E,2014-02-08 10:01:36.827
3,4,Headset Ball Bearings,BE-2908,False,False,None,800,600,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B,2014-02-08 10:01:36.827
4,316,Blade,BL-2036,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,E73E9750-603B-4131-89F5-3DD15ED5FF80,2014-02-08 10:01:36.827

In [493]:
pro['avg'] = pro['ListPrice'].mean()

In [494]:
pro['diff'] = pro['ListPrice'] - pro['avg']

In [495]:
pro[['ProductID', 'Name', 'ListPrice', 'avg', 'diff']].head()

   ProductID                   Name  ListPrice         avg        diff
0          1        Adjustable Race     1000.0  166.819324  833.180676
1          2           Bearing Ball        0.0  166.819324 -166.819324
2          3        BB Ball Bearing        0.0  166.819324 -166.819324
3          4  Headset Ball Bearings        0.0  166.819324 -166.819324
4        316                  Blade        0.0  166.819324 -166.819324

In [496]:
# 178 Retrieve the employee ID, hire date, and the average number of employees hired per year, ordered by hire date.

col = ['BusinessEntityID',
    'NationalIDNumber',
    'LoginID',
    'OrganizationLevel',
    'JobTitle',
    'BirthDate',
    'MaritalStatus',
    'Gender',
    'HireDate',
    'SalariedFlag',
    'VacationHours',
    'SickLeaveHours',
    'CurrentFlag',
    'rowguid',
    'ModifiedDate']

emp = db_reader().read_table('humanresources.employee', connection, col)
emp.head()

,BusinessEntityID,NationalIDNumber,LoginID,OrganizationLevel,JobTitle,BirthDate,MaritalStatus,Gender,HireDate,SalariedFlag,VacationHours,SickLeaveHours,CurrentFlag,rowguid,ModifiedDate
0,1,295847284,adventure-works\ken0,NaN,Chief Executive Officer,1969-01-29,S,M,2009-01-14,True,99,69,True,F01251E5-96A3-448D-981E-0F99D789110D,2014-06-30
1,2,245797967,adventure-works\terri0,1.0,Vice President of Engineering,1971-08-01,S,F,2008-01-31,True,1,20,True,45E8F437-670D-4409-93CB-F9424A40D6EE,2014-06-30
2,3,509647174,adventure-works\roberto0,2.0,Engineering Manager,1974-11-12,M,M,2007-11-11,True,2,21,True,9BBBFB2C-EFBB-4217-9AB7-F97689328841,2014-06-30
3,4,112457891,adventure-works\rob0,3.0,Senior Tool Designer,1974-12-23,S,M,2007-12-05,False,48,80,True,59747955-87B8-443F-8ED4-F8AD3AFDF3A9,2014-06-30
4,5,695256908,adventure-works\gail0,3.0,Design Engineer,1952-09-27,M,F,2008-01-06,True,5,22,True,EC84AE09-F9B8-4A15-B4A9-6CCBAB919B08,2014-06-30

In [497]:
emp['Year'] = pd.to_datetime(emp['HireDate']).dt.year

In [498]:
count = emp.groupby('Year')['BusinessEntityID'].count().reset_index(name='count')
count

   Year  count
0  2006      1
1  2007      6
2  2008     75
3  2009    148
4  2010     38
5  2011     16
6  2012      4
7  2013      3

In [499]:
emp['avg'] = count['count'].mean()

In [500]:
emp[['BusinessEntityID', 'HireDate','Year', 'avg']].sort_values('HireDate').head()

    BusinessEntityID    HireDate  Year     avg
27                28  2006-06-30  2006  36.375
16                17  2007-01-26  2007  36.375
2                  3  2007-11-11  2007  36.375
3                  4  2007-12-05  2007  36.375
11                12  2007-12-11  2007  36.375

In [501]:
# 179 Find the sales order ID, order date, and the running total of sales amount for each year, ordered by order date.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [502]:
soh['OrderDate'] = pd.to_datetime(soh['OrderDate'])

In [503]:
soh['Year']= soh['OrderDate'].dt.year

In [504]:
soh['RunningTotal'] = soh.groupby('Year')['TotalDue'].cumsum()

In [505]:
soh[['SalesOrderID', 'OrderDate', 'TotalDue','Year' ,'RunningTotal']].tail()

       SalesOrderID  OrderDate    TotalDue  Year  RunningTotal
31460         75120 2014-06-30     93.8808  2014  2.241917e+07
31461         75121 2014-06-30     82.8529  2014  2.241925e+07
31462         75122 2014-06-30     34.2219  2014  2.241929e+07
31463         75123 2014-06-30    209.9169  2014  2.241950e+07
31464         75124 2011-05-31  23153.2339  2011  1.415570e+07

In [506]:
# 180 Retrieve the product ID, name, and the percentage of total revenue generated by each product, ordered by product ID.

pro = db_reader().read_table('production.product',connection)
pro.head()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,SizeUnitMeasureCode,WeightUnitMeasureCode,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,False,False,None,1000,750,0.0,1000.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,694215B7-08F7-4C0D-ACB1-D734BA44C0C8,2014-02-08 10:01:36.827
1,2,Bearing Ball,BA-8327,False,False,None,1000,750,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,58AE3C20-4F3A-4749-A7D4-D568806CC537,2014-02-08 10:01:36.827
2,3,BB Ball Bearing,BE-2349,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E,2014-02-08 10:01:36.827
3,4,Headset Ball Bearings,BE-2908,False,False,None,800,600,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B,2014-02-08 10:01:36.827
4,316,Blade,BL-2036,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,E73E9750-603B-4131-89F5-3DD15ED5FF80,2014-02-08 10:01:36.827

In [511]:
total = pro['ListPrice'].sum()

In [512]:
pro['Revenue'] = (pro['ListPrice']/total)*100

In [513]:
pro[['ProductID', 'Name', 'ListPrice', 'Revenue']].head()

   ProductID                   Name  ListPrice   Revenue
0          1        Adjustable Race     1000.0  1.184686
1          2           Bearing Ball        0.0  0.000000
2          3        BB Ball Bearing        0.0  0.000000
3          4  Headset Ball Bearings        0.0  0.000000
4        316                  Blade        0.0  0.000000

In [ ]:
# 181 List the employee ID, hire date, and the average tenure of employees hired in the same year, ordered by hire date.

col = ['BusinessEntityID',
    'NationalIDNumber',
    'LoginID',
    'OrganizationLevel',
    'JobTitle',
    'BirthDate',
    'MaritalStatus',
    'Gender',
    'HireDate',
    'SalariedFlag',
    'VacationHours',
    'SickLeaveHours',
    'CurrentFlag',
    'rowguid',
    'ModifiedDate']

emp = db_reader().read_table('humanresources.employee', connection, col)
emp.head()

In [514]:
# 182 Retrieve the sales order ID, order date, and the difference in total sales amount from the previous order, ordered by order date.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [517]:
soh['diff'] = soh['TotalDue'].diff()

In [518]:
soh[['SalesOrderID', 'OrderDate', 'TotalDue', 'diff']].head()

   SalesOrderID  OrderDate    TotalDue        diff
0         43660 2011-05-20   1457.3288         NaN
1         43661 2011-05-31  36865.8012  35408.4724
2         43662 2011-05-31  32474.9324  -4390.8688
3         43663 2011-05-31    472.3108 -32002.6216
4         43664 2011-05-31  27510.4109  27038.1001

In [519]:
# 183 Find the product ID, name, and the rank of each product based on the total quantity sold, ordered by product ID.

sod = db_reader().read_table('sales.salesorderdetail', connection)
sod.head()

,SalesOrderID,SalesOrderDetailID,CarrierTrackingNumber,OrderQty,ProductID,SpecialOfferID,UnitPrice,UnitPriceDiscount,LineTotal,rowguid,ModifiedDate
0,43660,13,6431-4D57-83,1,762,1,419.4589,0.0,419.4589,419A1302-AC7A-4044-97B2-66D9D14CD02E,2011-05-31
1,43660,14,6431-4D57-83,1,758,1,874.7940,0.0,874.7940,5D0B2B03-1D4C-4C34-9696-C14C58E7301C,2011-05-31
2,43661,15,4E0A-4F89-AE,1,745,1,809.7600,0.0,809.7600,EDE1759E-6733-4C7B-A43F-DC6F48002D8A,2011-05-31
3,43661,16,4E0A-4F89-AE,1,743,1,714.7043,0.0,714.7043,FE10BF09-D477-485B-9541-27AE8053A6D4,2011-05-31
4,43661,17,4E0A-4F89-AE,2,747,1,714.7043,0.0,1429.4086,B136852E-24C9-4006-8048-B14AEFE6C337,2011-05-31

In [520]:
sod['Rank'] = sod['OrderQty'].rank()

In [522]:
sod[['ProductID', 'OrderQty', 'Rank']].sort_values('ProductID').head()

        ProductID  OrderQty     Rank
78722         707         1  37474.5
7619          707         1  37474.5
116446        707         1  37474.5
106352        707         1  37474.5
106361        707         1  37474.5

In [523]:
# 184 Retrieve the employee ID, hire date, and the number of employees hired in the same year as each employee, ordered by hire date.

col = ['BusinessEntityID',
    'NationalIDNumber',
    'LoginID',
    'OrganizationLevel',
    'JobTitle',
    'BirthDate',
    'MaritalStatus',
    'Gender',
    'HireDate',
    'SalariedFlag',
    'VacationHours',
    'SickLeaveHours',
    'CurrentFlag',
    'rowguid',
    'ModifiedDate']

emp = db_reader().read_table('humanresources.employee', connection, col)
emp.head()

,BusinessEntityID,NationalIDNumber,LoginID,OrganizationLevel,JobTitle,BirthDate,MaritalStatus,Gender,HireDate,SalariedFlag,VacationHours,SickLeaveHours,CurrentFlag,rowguid,ModifiedDate
0,1,295847284,adventure-works\ken0,NaN,Chief Executive Officer,1969-01-29,S,M,2009-01-14,True,99,69,True,F01251E5-96A3-448D-981E-0F99D789110D,2014-06-30
1,2,245797967,adventure-works\terri0,1.0,Vice President of Engineering,1971-08-01,S,F,2008-01-31,True,1,20,True,45E8F437-670D-4409-93CB-F9424A40D6EE,2014-06-30
2,3,509647174,adventure-works\roberto0,2.0,Engineering Manager,1974-11-12,M,M,2007-11-11,True,2,21,True,9BBBFB2C-EFBB-4217-9AB7-F97689328841,2014-06-30
3,4,112457891,adventure-works\rob0,3.0,Senior Tool Designer,1974-12-23,S,M,2007-12-05,False,48,80,True,59747955-87B8-443F-8ED4-F8AD3AFDF3A9,2014-06-30
4,5,695256908,adventure-works\gail0,3.0,Design Engineer,1952-09-27,M,F,2008-01-06,True,5,22,True,EC84AE09-F9B8-4A15-B4A9-6CCBAB919B08,2014-06-30

In [524]:
emp['Year'] = pd.to_datetime(emp['HireDate']).dt.year

In [525]:
count = emp.groupby('Year')['BusinessEntityID'].count().reset_index(name='count')
count

   Year  count
0  2006      1
1  2007      6
2  2008     75
3  2009    148
4  2010     38
5  2011     16
6  2012      4
7  2013      3

In [527]:
emp = merge().merge_tbl(emp[['BusinessEntityID', 'HireDate', 'Year']], count, 'inner', 'Year')
emp.head()

   BusinessEntityID    HireDate  Year  count
0                 1  2009-01-14  2009    148
1                 2  2008-01-31  2008     75
2                 3  2007-11-11  2007      6
3                 4  2007-12-05  2007      6
4                 5  2008-01-06  2008     75

In [529]:
emp.sort_values('HireDate').head()

    BusinessEntityID    HireDate  Year  count
27                28  2006-06-30  2006      1
16                17  2007-01-26  2007      6
2                  3  2007-11-11  2007      6
3                  4  2007-12-05  2007      6
11                12  2007-12-11  2007      6

In [530]:
# 185 Find the sales order ID, order date, and the sum of total sales amount for the last 3 orders, ordered by order date.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [533]:
soh['Running'] = soh['TotalDue'].rolling(3, min_periods=1).sum()

In [534]:
soh[['SalesOrderID', 'OrderDate', 'TotalDue', 'Running']].head()

   SalesOrderID  OrderDate    TotalDue     Running
0         43660 2011-05-20   1457.3288   1457.3288
1         43661 2011-05-31  36865.8012  38323.1300
2         43662 2011-05-31  32474.9324  70798.0624
3         43663 2011-05-31    472.3108  69813.0444
4         43664 2011-05-31  27510.4109  60457.6541

In [535]:
# 186 Retrieve the product ID, name, and the average list price of products within the same subcategory, ordered by product ID.

pro = db_reader().read_table('production.product', connection)
pro.head()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,SizeUnitMeasureCode,WeightUnitMeasureCode,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,False,False,None,1000,750,0.0,1000.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,694215B7-08F7-4C0D-ACB1-D734BA44C0C8,2014-02-08 10:01:36.827
1,2,Bearing Ball,BA-8327,False,False,None,1000,750,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,58AE3C20-4F3A-4749-A7D4-D568806CC537,2014-02-08 10:01:36.827
2,3,BB Ball Bearing,BE-2349,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E,2014-02-08 10:01:36.827
3,4,Headset Ball Bearings,BE-2908,False,False,None,800,600,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B,2014-02-08 10:01:36.827
4,316,Blade,BL-2036,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,E73E9750-603B-4131-89F5-3DD15ED5FF80,2014-02-08 10:01:36.827

In [536]:
sc = db_reader().read_table('production.productsubcategory', connection)
sc.head()

,ProductSubcategoryID,ProductCategoryID,Name,rowguid,ModifiedDate
0,1,1,Mountain Bikes,2D364ADE-264A-433C-B092-4FCBF3804E01,2008-04-30
1,2,1,Road Bikes,000310C0-BCC8-42C4-B0C3-45AE611AF06B,2008-04-30
2,3,1,Touring Bikes,02C5061D-ECDC-4274-B5F1-E91D76BC3F37,2008-04-30
3,4,2,Handlebars,3EF2C725-7135-4C85-9AE6-AE9A3BDD9283,2008-04-30
4,5,2,Bottom Brackets,A9E54089-8A1E-4CF5-8646-E3801F685934,2008-04-30

In [538]:
sub = merge().merge_tbl(pro[['ProductID', 'Name', 'ListPrice', 'ProductSubcategoryID']], sc[['ProductSubcategoryID', 'Name']], 'inner', 'ProductSubcategoryID')
sub.head()

,ProductID,Name_x,ListPrice,ProductSubcategoryID,Name_y
0,680,"HL Road Frame - Black, 58",1431.50,14.0,Road Frames
1,706,"HL Road Frame - Red, 58",1431.50,14.0,Road Frames
2,707,"Sport-100 Helmet, Red",34.99,31.0,Helmets
3,708,"Sport-100 Helmet, Black",34.99,31.0,Helmets
4,709,"Mountain Bike Socks, M",9.50,23.0,Socks

In [540]:
sc = sub.groupby('Name_y')['ListPrice'].mean().reset_index(name = 'avg')
sc.head()

              Name_y     avg
0         Bib-Shorts   89.99
1         Bike Racks  120.00
2        Bike Stands  159.00
3  Bottles and Cages    7.99
4    Bottom Brackets   92.24

In [541]:
sub = merge().merge_tbl(sub, sc, 'inner', 'Name_y')
sub.head()

,ProductID,Name_x,ListPrice,ProductSubcategoryID,Name_y,avg
0,680,"HL Road Frame - Black, 58",1431.50,14.0,Road Frames,780.043636
1,706,"HL Road Frame - Red, 58",1431.50,14.0,Road Frames,780.043636
2,707,"Sport-100 Helmet, Red",34.99,31.0,Helmets,34.990000
3,708,"Sport-100 Helmet, Black",34.99,31.0,Helmets,34.990000
4,709,"Mountain Bike Socks, M",9.50,23.0,Socks,9.176000

In [542]:
# 187 List the employee ID, hire date, and the difference in years between the hire date of each employee and the earliest hire date.

col = ['BusinessEntityID',
    'NationalIDNumber',
    'LoginID',
    'OrganizationLevel',
    'JobTitle',
    'BirthDate',
    'MaritalStatus',
    'Gender',
    'HireDate',
    'SalariedFlag',
    'VacationHours',
    'SickLeaveHours',
    'CurrentFlag',
    'rowguid',
    'ModifiedDate']

emp = db_reader().read_table('humanresources.employee', connection, col)
emp.head()

,BusinessEntityID,NationalIDNumber,LoginID,OrganizationLevel,JobTitle,BirthDate,MaritalStatus,Gender,HireDate,SalariedFlag,VacationHours,SickLeaveHours,CurrentFlag,rowguid,ModifiedDate
0,1,295847284,adventure-works\ken0,NaN,Chief Executive Officer,1969-01-29,S,M,2009-01-14,True,99,69,True,F01251E5-96A3-448D-981E-0F99D789110D,2014-06-30
1,2,245797967,adventure-works\terri0,1.0,Vice President of Engineering,1971-08-01,S,F,2008-01-31,True,1,20,True,45E8F437-670D-4409-93CB-F9424A40D6EE,2014-06-30
2,3,509647174,adventure-works\roberto0,2.0,Engineering Manager,1974-11-12,M,M,2007-11-11,True,2,21,True,9BBBFB2C-EFBB-4217-9AB7-F97689328841,2014-06-30
3,4,112457891,adventure-works\rob0,3.0,Senior Tool Designer,1974-12-23,S,M,2007-12-05,False,48,80,True,59747955-87B8-443F-8ED4-F8AD3AFDF3A9,2014-06-30
4,5,695256908,adventure-works\gail0,3.0,Design Engineer,1952-09-27,M,F,2008-01-06,True,5,22,True,EC84AE09-F9B8-4A15-B4A9-6CCBAB919B08,2014-06-30

In [549]:
min = emp['HireDate'].dt.year.min()
min

2006

In [545]:
emp['HireDate'] = pd.to_datetime(emp['HireDate'])

In [550]:
emp['diff'] = emp['HireDate'].dt.year - min

In [551]:
emp[['BusinessEntityID', 'HireDate', 'diff']].head()

   BusinessEntityID   HireDate  diff
0                 1 2009-01-14     3
1                 2 2008-01-31     2
2                 3 2007-11-11     1
3                 4 2007-12-05     1
4                 5 2008-01-06     2

In [552]:
# 188 Retrieve the sales order ID, order date, and the average of total sales amount for the last 5 orders, ordered by order date.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [553]:
soh['Running'] = soh['TotalDue'].rolling(5, min_periods=1).sum()

In [554]:
soh[['SalesOrderID', 'OrderDate', 'TotalDue', 'Running']].head()

   SalesOrderID  OrderDate    TotalDue     Running
0         43660 2011-05-20   1457.3288   1457.3288
1         43661 2011-05-31  36865.8012  38323.1300
2         43662 2011-05-31  32474.9324  70798.0624
3         43663 2011-05-31    472.3108  71270.3732
4         43664 2011-05-31  27510.4109  98780.7841

In [556]:
# 189 Find the product ID, name, and the difference in quantity sold from the previous order for each product, ordered by product ID.

sod = db_reader().read_table('sales.salesorderdetail', connection)
sod.head()

,SalesOrderID,SalesOrderDetailID,CarrierTrackingNumber,OrderQty,ProductID,SpecialOfferID,UnitPrice,UnitPriceDiscount,LineTotal,rowguid,ModifiedDate
0,43660,13,6431-4D57-83,1,762,1,419.4589,0.0,419.4589,419A1302-AC7A-4044-97B2-66D9D14CD02E,2011-05-31
1,43660,14,6431-4D57-83,1,758,1,874.7940,0.0,874.7940,5D0B2B03-1D4C-4C34-9696-C14C58E7301C,2011-05-31
2,43661,15,4E0A-4F89-AE,1,745,1,809.7600,0.0,809.7600,EDE1759E-6733-4C7B-A43F-DC6F48002D8A,2011-05-31
3,43661,16,4E0A-4F89-AE,1,743,1,714.7043,0.0,714.7043,FE10BF09-D477-485B-9541-27AE8053A6D4,2011-05-31
4,43661,17,4E0A-4F89-AE,2,747,1,714.7043,0.0,1429.4086,B136852E-24C9-4006-8048-B14AEFE6C337,2011-05-31

In [561]:
sod = sod[['ProductID', 'OrderQty']].sort_values('ProductID')
sod.head()

        ProductID  OrderQty
78722         707         1
7619          707         1
116446        707         1
106352        707         1
106361        707         1

In [562]:
sod['diff'] = sod['OrderQty'].diff()

In [563]:
sod.head(10)

        ProductID  OrderQty  diff
78722         707         1   NaN
7619          707         1   0.0
116446        707         1   0.0
106352        707         1   0.0
106361        707         1   0.0
48788         707         4   3.0
116431        707         1  -3.0
7605          707         1   0.0
21802         707         2   1.0
116413        707         1  -1.0

In [564]:
# 190 Retrieve the employee ID, hire date, and the running total of employee count for each hire year, ordered by hire date.

col = ['BusinessEntityID',
    'NationalIDNumber',
    'LoginID',
    'OrganizationLevel',
    'JobTitle',
    'BirthDate',
    'MaritalStatus',
    'Gender',
    'HireDate',
    'SalariedFlag',
    'VacationHours',
    'SickLeaveHours',
    'CurrentFlag',
    'rowguid',
    'ModifiedDate']

emp = db_reader().read_table('humanresources.employee', connection, col)
emp.head()

,BusinessEntityID,NationalIDNumber,LoginID,OrganizationLevel,JobTitle,BirthDate,MaritalStatus,Gender,HireDate,SalariedFlag,VacationHours,SickLeaveHours,CurrentFlag,rowguid,ModifiedDate
0,1,295847284,adventure-works\ken0,NaN,Chief Executive Officer,1969-01-29,S,M,2009-01-14,True,99,69,True,F01251E5-96A3-448D-981E-0F99D789110D,2014-06-30
1,2,245797967,adventure-works\terri0,1.0,Vice President of Engineering,1971-08-01,S,F,2008-01-31,True,1,20,True,45E8F437-670D-4409-93CB-F9424A40D6EE,2014-06-30
2,3,509647174,adventure-works\roberto0,2.0,Engineering Manager,1974-11-12,M,M,2007-11-11,True,2,21,True,9BBBFB2C-EFBB-4217-9AB7-F97689328841,2014-06-30
3,4,112457891,adventure-works\rob0,3.0,Senior Tool Designer,1974-12-23,S,M,2007-12-05,False,48,80,True,59747955-87B8-443F-8ED4-F8AD3AFDF3A9,2014-06-30
4,5,695256908,adventure-works\gail0,3.0,Design Engineer,1952-09-27,M,F,2008-01-06,True,5,22,True,EC84AE09-F9B8-4A15-B4A9-6CCBAB919B08,2014-06-30

In [571]:
emp['Year'] = pd.to_datetime(emp['HireDate']).dt.year

In [578]:
emp['RunningTotal'] = emp.groupby('Year')['BusinessEntityID'].cumcount()

In [579]:
emp[['BusinessEntityID', 'HireDate', 'RunningTotal']].sort_values('HireDate').head(10)

    BusinessEntityID    HireDate  RunningTotal
27                28  2006-06-30             0
16                17  2007-01-26             4
2                  3  2007-11-11             0
3                  4  2007-12-05             1
11                12  2007-12-11             2
15                16  2007-12-20             3
39                40  2007-12-26             5
4                  5  2008-01-06             1
47                48  2008-01-06            11
48                49  2008-01-07            12

In [585]:
# 191 List the product ID, name, and the average list price of products in the same category, ordered by product ID.

pro = db_reader().read_table('production.product', connection)
pro.head()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,SizeUnitMeasureCode,WeightUnitMeasureCode,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,False,False,None,1000,750,0.0,1000.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,694215B7-08F7-4C0D-ACB1-D734BA44C0C8,2014-02-08 10:01:36.827
1,2,Bearing Ball,BA-8327,False,False,None,1000,750,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,58AE3C20-4F3A-4749-A7D4-D568806CC537,2014-02-08 10:01:36.827
2,3,BB Ball Bearing,BE-2349,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E,2014-02-08 10:01:36.827
3,4,Headset Ball Bearings,BE-2908,False,False,None,800,600,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B,2014-02-08 10:01:36.827
4,316,Blade,BL-2036,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,E73E9750-603B-4131-89F5-3DD15ED5FF80,2014-02-08 10:01:36.827

In [593]:
sc = db_reader().read_table('production.productsubcategory', connection)
sc.head()

,ProductSubcategoryID,ProductCategoryID,Name,rowguid,ModifiedDate
0,1,1,Mountain Bikes,2D364ADE-264A-433C-B092-4FCBF3804E01,2008-04-30
1,2,1,Road Bikes,000310C0-BCC8-42C4-B0C3-45AE611AF06B,2008-04-30
2,3,1,Touring Bikes,02C5061D-ECDC-4274-B5F1-E91D76BC3F37,2008-04-30
3,4,2,Handlebars,3EF2C725-7135-4C85-9AE6-AE9A3BDD9283,2008-04-30
4,5,2,Bottom Brackets,A9E54089-8A1E-4CF5-8646-E3801F685934,2008-04-30

In [594]:
cat = merge().merge_tbl(pro[['ProductID', 'Name', 'ListPrice', 'ProductSubcategoryID']], sc[['ProductSubcategoryID', 'ProductCategoryID']], 'inner', 'ProductSubcategoryID')
cat.head()

,ProductID,Name,ListPrice,ProductSubcategoryID,ProductCategoryID
0,680,"HL Road Frame - Black, 58",1431.50,14.0,2
1,706,"HL Road Frame - Red, 58",1431.50,14.0,2
2,707,"Sport-100 Helmet, Red",34.99,31.0,4
3,708,"Sport-100 Helmet, Black",34.99,31.0,4
4,709,"Mountain Bike Socks, M",9.50,23.0,3

In [595]:
c = cat.groupby('ProductCategoryID')['ListPrice'].mean().reset_index(name = 'avg')
c.head()

   ProductCategoryID         avg
0                  1  146.674000
1                  2  469.860299
2                  3   49.822222
3                  4   34.348966

In [596]:
cat = merge().merge_tbl(cat, c, 'inner', 'ProductCategoryID')
cat.head()

,ProductID,Name,ListPrice,ProductSubcategoryID,ProductCategoryID,avg
0,680,"HL Road Frame - Black, 58",1431.50,14.0,2,469.860299
1,706,"HL Road Frame - Red, 58",1431.50,14.0,2,469.860299
2,707,"Sport-100 Helmet, Red",34.99,31.0,4,34.348966
3,708,"Sport-100 Helmet, Black",34.99,31.0,4,34.348966
4,709,"Mountain Bike Socks, M",9.50,23.0,3,49.822222

In [597]:
# 192 Retrieve the product ID, name, and assign a unique row number to each product, ordered by product name.

pro = db_reader().read_table('production.product', connection)
pro.head()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,SizeUnitMeasureCode,WeightUnitMeasureCode,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,False,False,None,1000,750,0.0,1000.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,694215B7-08F7-4C0D-ACB1-D734BA44C0C8,2014-02-08 10:01:36.827
1,2,Bearing Ball,BA-8327,False,False,None,1000,750,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,58AE3C20-4F3A-4749-A7D4-D568806CC537,2014-02-08 10:01:36.827
2,3,BB Ball Bearing,BE-2349,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E,2014-02-08 10:01:36.827
3,4,Headset Ball Bearings,BE-2908,False,False,None,800,600,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B,2014-02-08 10:01:36.827
4,316,Blade,BL-2036,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,E73E9750-603B-4131-89F5-3DD15ED5FF80,2014-02-08 10:01:36.827

In [604]:
pro = pro[['ProductID', 'Name']].sort_values('Name')
pro.head()

     ProductID                    Name
216        712            AWC Logo Cap
0            1         Adjustable Race
383        879  All-Purpose Bike Stand
2            3         BB Ball Bearing
505       2006             BIKE HANDLE

In [605]:
pro['Rank'] = pro['ProductID'].rank(method='dense')

In [606]:
pro.head()

     ProductID                    Name   Rank
216        712            AWC Logo Cap  217.0
0            1         Adjustable Race    1.0
383        879  All-Purpose Bike Stand  384.0
2            3         BB Ball Bearing    3.0
505       2006             BIKE HANDLE  506.0

In [607]:
# 193 List the employee ID, hire date, and assign a rank to each employee based on their hire date, ordered by hire date.

col = ['BusinessEntityID',
    'NationalIDNumber',
    'LoginID',
    'OrganizationLevel',
    'JobTitle',
    'BirthDate',
    'MaritalStatus',
    'Gender',
    'HireDate',
    'SalariedFlag',
    'VacationHours',
    'SickLeaveHours',
    'CurrentFlag',
    'rowguid',
    'ModifiedDate']

emp = db_reader().read_table('humanresources.employee', connection, col)
emp.head()

,BusinessEntityID,NationalIDNumber,LoginID,OrganizationLevel,JobTitle,BirthDate,MaritalStatus,Gender,HireDate,SalariedFlag,VacationHours,SickLeaveHours,CurrentFlag,rowguid,ModifiedDate
0,1,295847284,adventure-works\ken0,NaN,Chief Executive Officer,1969-01-29,S,M,2009-01-14,True,99,69,True,F01251E5-96A3-448D-981E-0F99D789110D,2014-06-30
1,2,245797967,adventure-works\terri0,1.0,Vice President of Engineering,1971-08-01,S,F,2008-01-31,True,1,20,True,45E8F437-670D-4409-93CB-F9424A40D6EE,2014-06-30
2,3,509647174,adventure-works\roberto0,2.0,Engineering Manager,1974-11-12,M,M,2007-11-11,True,2,21,True,9BBBFB2C-EFBB-4217-9AB7-F97689328841,2014-06-30
3,4,112457891,adventure-works\rob0,3.0,Senior Tool Designer,1974-12-23,S,M,2007-12-05,False,48,80,True,59747955-87B8-443F-8ED4-F8AD3AFDF3A9,2014-06-30
4,5,695256908,adventure-works\gail0,3.0,Design Engineer,1952-09-27,M,F,2008-01-06,True,5,22,True,EC84AE09-F9B8-4A15-B4A9-6CCBAB919B08,2014-06-30

In [608]:
emp['rank'] = emp['HireDate'].rank()

In [610]:
emp[['BusinessEntityID', 'HireDate', 'rank']].sort_values('HireDate').head()

    BusinessEntityID    HireDate  rank
27                28  2006-06-30   1.0
16                17  2007-01-26   2.0
2                  3  2007-11-11   3.0
3                  4  2007-12-05   4.0
11                12  2007-12-11   5.0

In [611]:
# 194 Retrieve the customer ID, order date, and assign a dense rank to each customer based on their order date, ordered by order date.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [616]:
soh = soh[['SalesOrderID', 'OrderDate']].sort_values('OrderDate')

In [617]:
soh['Rank'] = soh['OrderDate'].rank()

In [618]:
soh.head()

    SalesOrderID  OrderDate  Rank
0          43660 2011-05-20   1.0
24         43684 2011-05-31  22.5
25         43685 2011-05-31  22.5
26         43686 2011-05-31  22.5
27         43687 2011-05-31  22.5

In [619]:
# 195 Find the sales order ID, order date, and assign a unique row number to each order, partitioned by the sales person ID and ordered by order date.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [620]:
soh = soh[['SalesOrderID', 'OrderDate', 'SalesPersonID']]
soh.head()

   SalesOrderID  OrderDate  SalesPersonID
0         43660 2011-05-20          279.0
1         43661 2011-05-31          282.0
2         43662 2011-05-31          282.0
3         43663 2011-05-31          276.0
4         43664 2011-05-31          280.0

In [626]:
a = soh.groupby(['SalesPersonID', 'SalesOrderID'])['OrderDate'].max().reset_index().sort_values('OrderDate')
a.head()

      SalesPersonID  SalesOrderID  OrderDate
1623          279.0         43660 2011-05-20
2392          282.0         43674 2011-05-31
919           277.0         43691 2011-05-31
1627          279.0         43694 2011-05-31
1628          279.0         43695 2011-05-31

In [627]:
a['rank'] = a['SalesOrderID'].rank()

In [628]:
a.head()

      SalesPersonID  SalesOrderID  OrderDate  rank
1623          279.0         43660 2011-05-20   1.0
2392          282.0         43674 2011-05-31  15.0
919           277.0         43691 2011-05-31  32.0
1627          279.0         43694 2011-05-31  35.0
1628          279.0         43695 2011-05-31  36.0

In [646]:
# 196 Retrieve the product ID, name, and assign a rank to each product based on the list price, partitioned by the product category, ordered by product name

pro = db_reader().read_table('production.product', connection)
pro.head()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,SizeUnitMeasureCode,WeightUnitMeasureCode,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,False,False,None,1000,750,0.0,1000.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,694215B7-08F7-4C0D-ACB1-D734BA44C0C8,2014-02-08 10:01:36.827
1,2,Bearing Ball,BA-8327,False,False,None,1000,750,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,58AE3C20-4F3A-4749-A7D4-D568806CC537,2014-02-08 10:01:36.827
2,3,BB Ball Bearing,BE-2349,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E,2014-02-08 10:01:36.827
3,4,Headset Ball Bearings,BE-2908,False,False,None,800,600,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B,2014-02-08 10:01:36.827
4,316,Blade,BL-2036,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,E73E9750-603B-4131-89F5-3DD15ED5FF80,2014-02-08 10:01:36.827

In [647]:
sc = db_reader().read_table('production.productsubcategory', connection)
sc.head()

,ProductSubcategoryID,ProductCategoryID,Name,rowguid,ModifiedDate
0,1,1,Mountain Bikes,2D364ADE-264A-433C-B092-4FCBF3804E01,2008-04-30
1,2,1,Road Bikes,000310C0-BCC8-42C4-B0C3-45AE611AF06B,2008-04-30
2,3,1,Touring Bikes,02C5061D-ECDC-4274-B5F1-E91D76BC3F37,2008-04-30
3,4,2,Handlebars,3EF2C725-7135-4C85-9AE6-AE9A3BDD9283,2008-04-30
4,5,2,Bottom Brackets,A9E54089-8A1E-4CF5-8646-E3801F685934,2008-04-30

In [648]:
cat = merge().merge_tbl(pro[['ProductID', 'Name', 'ListPrice', 'ProductSubcategoryID']], sc[['ProductSubcategoryID', 'ProductCategoryID']],'inner', 'ProductSubcategoryID')
cat.head()

,ProductID,Name,ListPrice,ProductSubcategoryID,ProductCategoryID
0,680,"HL Road Frame - Black, 58",1431.50,14.0,2
1,706,"HL Road Frame - Red, 58",1431.50,14.0,2
2,707,"Sport-100 Helmet, Red",34.99,31.0,4
3,708,"Sport-100 Helmet, Black",34.99,31.0,4
4,709,"Mountain Bike Socks, M",9.50,23.0,3

In [649]:
cat['rank'] = cat['ListPrice'].rank()

In [650]:
a = cat.groupby('ProductCategoryID')
a.head()

,ProductID,Name,ListPrice,ProductSubcategoryID,ProductCategoryID,rank
0,680,"HL Road Frame - Black, 58",1431.500,14.0,2,291.0
1,706,"HL Road Frame - Red, 58",1431.500,14.0,2,291.0
2,707,"Sport-100 Helmet, Red",34.990,31.0,4,35.5
3,708,"Sport-100 Helmet, Black",34.990,31.0,4,35.5
4,709,"Mountain Bike Socks, M",9.500,23.0,3,12.5
5,710,"Mountain Bike Socks, L",9.500,23.0,3,12.5
6,711,"Sport-100 Helmet, Blue",34.990,31.0,4,35.5
7,712,AWC Logo Cap,8.990,19.0,3,9.5
8,713,"Long-Sleeve Logo Jersey, S",49.990,21.0,3,52.5
9,714,"Long-Sleeve Logo Jersey, M",49.990,21.0,3,52.5
12,717,"HL Road Frame - Red, 62",1431.500,14.0,2,291.0
13,718,"HL Road Frame - Red, 44",1431.500,14.0,2,291.0
14,719,"HL Road Frame - Red, 48",1431.500,14.0,2,291.0
44,749,"Road-150 Red, 62",146.674,2.0,1,152.0
45,750,"Road-150 Red, 44",146.674,2.0,1,152.0
46,751,"Road-150 Red, 48",146.674,2.0,1,152.0
47,752,"Road-150 Red, 52",146.674,2.0,1,152.0
48,753,"Road-150 Red, 56",146.674,2.0,1,152.0
137,842,"Touring-Panniers, Large",125.000,35.0,4,103.0
138,843,Cable Lock,25.000,34.0,4,26.0

In [635]:
# 197 List the employee ID, hire date, and assign a dense rank to each employee based on the department ID, ordered by hire date.

col = ['BusinessEntityID',
    'NationalIDNumber',
    'LoginID',
    'OrganizationLevel',
    'JobTitle',
    'BirthDate',
    'MaritalStatus',
    'Gender',
    'HireDate',
    'SalariedFlag',
    'VacationHours',
    'SickLeaveHours',
    'CurrentFlag',
    'rowguid',
    'ModifiedDate']

emp = db_reader().read_table('humanresources.employee', connection, col)
emp.head()

,BusinessEntityID,NationalIDNumber,LoginID,OrganizationLevel,JobTitle,BirthDate,MaritalStatus,Gender,HireDate,SalariedFlag,VacationHours,SickLeaveHours,CurrentFlag,rowguid,ModifiedDate
0,1,295847284,adventure-works\ken0,NaN,Chief Executive Officer,1969-01-29,S,M,2009-01-14,True,99,69,True,F01251E5-96A3-448D-981E-0F99D789110D,2014-06-30
1,2,245797967,adventure-works\terri0,1.0,Vice President of Engineering,1971-08-01,S,F,2008-01-31,True,1,20,True,45E8F437-670D-4409-93CB-F9424A40D6EE,2014-06-30
2,3,509647174,adventure-works\roberto0,2.0,Engineering Manager,1974-11-12,M,M,2007-11-11,True,2,21,True,9BBBFB2C-EFBB-4217-9AB7-F97689328841,2014-06-30
3,4,112457891,adventure-works\rob0,3.0,Senior Tool Designer,1974-12-23,S,M,2007-12-05,False,48,80,True,59747955-87B8-443F-8ED4-F8AD3AFDF3A9,2014-06-30
4,5,695256908,adventure-works\gail0,3.0,Design Engineer,1952-09-27,M,F,2008-01-06,True,5,22,True,EC84AE09-F9B8-4A15-B4A9-6CCBAB919B08,2014-06-30

In [636]:
edh = db_reader().read_table('humanresources.employeedepartmenthistory', connection)
edh.head()

,BusinessEntityID,DepartmentID,ShiftID,StartDate,EndDate,ModifiedDate
0,1,16,1,2009-01-14,None,2009-01-13
1,2,1,1,2008-01-31,None,2008-01-30
2,3,1,1,2007-11-11,None,2007-11-10
3,4,1,1,2007-12-05,2010-05-30,2010-05-28
4,4,2,1,2010-05-31,None,2010-05-30

In [637]:
id = merge().merge_tbl(emp[['BusinessEntityID', 'HireDate']], edh[['BusinessEntityID', 'DepartmentID']], 'inner', 'BusinessEntityID')
id.head()

   BusinessEntityID    HireDate  DepartmentID
0                 1  2009-01-14            16
1                 2  2008-01-31             1
2                 3  2007-11-11             1
3                 4  2007-12-05             1
4                 4  2007-12-05             2

In [638]:
id['dense'] = id['DepartmentID'].rank(method='dense')

In [639]:
id.head()

   BusinessEntityID    HireDate  DepartmentID  dense
0                 1  2009-01-14            16   16.0
1                 2  2008-01-31             1    1.0
2                 3  2007-11-11             1    1.0
3                 4  2007-12-05             1    1.0
4                 4  2007-12-05             2    2.0

In [640]:
# 198 Retrieve the product ID, name, and assign a unique row number to each product, partitioned by the product subcategory, ordered by product ID.

pro = db_reader().read_table('production.product', connection)
pro.head()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,SizeUnitMeasureCode,WeightUnitMeasureCode,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,False,False,None,1000,750,0.0,1000.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,694215B7-08F7-4C0D-ACB1-D734BA44C0C8,2014-02-08 10:01:36.827
1,2,Bearing Ball,BA-8327,False,False,None,1000,750,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,58AE3C20-4F3A-4749-A7D4-D568806CC537,2014-02-08 10:01:36.827
2,3,BB Ball Bearing,BE-2349,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E,2014-02-08 10:01:36.827
3,4,Headset Ball Bearings,BE-2908,False,False,None,800,600,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B,2014-02-08 10:01:36.827
4,316,Blade,BL-2036,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,E73E9750-603B-4131-89F5-3DD15ED5FF80,2014-02-08 10:01:36.827

In [641]:
sc = db_reader().read_table('production.productsubcategory', connection)
sc.head()

,ProductSubcategoryID,ProductCategoryID,Name,rowguid,ModifiedDate
0,1,1,Mountain Bikes,2D364ADE-264A-433C-B092-4FCBF3804E01,2008-04-30
1,2,1,Road Bikes,000310C0-BCC8-42C4-B0C3-45AE611AF06B,2008-04-30
2,3,1,Touring Bikes,02C5061D-ECDC-4274-B5F1-E91D76BC3F37,2008-04-30
3,4,2,Handlebars,3EF2C725-7135-4C85-9AE6-AE9A3BDD9283,2008-04-30
4,5,2,Bottom Brackets,A9E54089-8A1E-4CF5-8646-E3801F685934,2008-04-30

In [642]:
cat = merge().merge_tbl(pro[['ProductID', 'Name', 'ListPrice', 'ProductSubcategoryID']], sc[['ProductSubcategoryID']],'inner', 'ProductSubcategoryID')
cat.head()

   ProductID                       Name  ListPrice  ProductSubcategoryID
0        680  HL Road Frame - Black, 58    1431.50                  14.0
1        706    HL Road Frame - Red, 58    1431.50                  14.0
2        707      Sport-100 Helmet, Red      34.99                  31.0
3        708    Sport-100 Helmet, Black      34.99                  31.0
4        709     Mountain Bike Socks, M       9.50                  23.0

In [643]:
cat['rank'] = cat['ProductID'].rank()

In [644]:
cat.groupby('ProductSubcategoryID').head()

,ProductID,Name,ListPrice,ProductSubcategoryID,rank
0,680,"HL Road Frame - Black, 58",1431.500,14.0,1.0
1,706,"HL Road Frame - Red, 58",1431.500,14.0,2.0
2,707,"Sport-100 Helmet, Red",34.990,31.0,3.0
3,708,"Sport-100 Helmet, Black",34.990,31.0,4.0
4,709,"Mountain Bike Socks, M",9.500,23.0,5.0
5,710,"Mountain Bike Socks, L",9.500,23.0,6.0
6,711,"Sport-100 Helmet, Blue",34.990,31.0,7.0
7,712,AWC Logo Cap,8.990,19.0,8.0
8,713,"Long-Sleeve Logo Jersey, S",49.990,21.0,9.0
9,714,"Long-Sleeve Logo Jersey, M",49.990,21.0,10.0
10,715,"Long-Sleeve Logo Jersey, L",49.990,21.0,11.0
11,716,"Long-Sleeve Logo Jersey, XL",49.990,21.0,12.0
12,717,"HL Road Frame - Red, 62",1431.500,14.0,13.0
13,718,"HL Road Frame - Red, 44",1431.500,14.0,14.0
14,719,"HL Road Frame - Red, 48",1431.500,14.0,15.0
34,739,"HL Mountain Frame - Silver, 42",1364.500,12.0,35.0
35,740,"HL Mountain Frame - Silver, 44",1364.500,12.0,36.0
36,741,"HL Mountain Frame - Silver, 48",1364.500,12.0,37.0
37,742,"HL Mountain Frame - Silver, 46",1364.500,12.0,38.0
38,743,"HL Mountain Frame - Black, 42",1349.600,12.0,39.0
44,749,"Road-150 Red, 62",146.674,2.0,45.0
45,750,"Road-150 Red, 44",146.674,2.0,46.0
46,751,"Road-150 Red, 48",146.674,2.0,47.0
47,752,"Road-150 Red, 52",146.674,2.0,48.0
48,753,"Road-150 Red, 56",146.674,2.0,49.0
66,771,"Mountain-100 Silver, 38",146.674,1.0,67.0
67,772,"Mountain-100 Silver, 42",146.674,1.0,68.0
68,773,"Mountain-100 Silver, 44",146.674,1.0,69.0
69,774,"Mountain-100 Silver, 48",146.674,1.0,70.0
70,775,"Mountain-100 Black, 38",146.674,1.0,71.0
97,802,LL Fork,148.220,10.0,98.0
98,803,ML Fork,175.490,10.0,99.0
99,804,HL Fork,229.490,10.0,100.0
100,805,LL Headset,34.200,11.0,101.0
101,806,ML Headset,102.290,11.0,102.0
102,807,HL Headset,124.730,11.0,103.0
103,808,LL Mountain Handlebars,44.540,4.0,104.0
104,809,ML Mountain Handlebars,61.920,4.0,105.0
105,810,HL Mountain Handlebars,120.270,4.0,106.0
106,811,LL Road Handlebars,44.540,4.0,107.0
107,812,ML Road Handlebars,61.920,4.0,108.0
110,815,LL Mountain Front Wheel,60.745,17.0,111.0
111,816,ML Mountain Front Wheel,209.025,17.0,112.0
112,817,HL Mountain Front Wheel,300.215,17.0,113.0
113,818,LL Road Front Wheel,85.565,17.0,114.0
114,819,ML Road Front Wheel,248.385,17.0,115.0
136,841,"Men's Sports Shorts, S",59.990,22.0,137.0
137,842,"Touring-Panniers, Large",125.000,35.0,138.0
138,843,Cable Lock,25.000,34.0,139.0
139,844,Minipump,19.990,36.0,140.0
140,845,Mountain Pump,24.990,36.0,141.0
141,846,Taillights - Battery-Powered,13.990,33.0,142.0
142,847,Headlights - Dual-Beam,34.990,33.0,143.0
143,848,Headlights - Weatherproof,44.990,33.0,144.0
144,849,"Men's Sports Shorts, M",59.990,22.0,145.0
145,850,"Men's Sports Shorts, L",59.990,22.0,146.0
146,851,"Men's Sports Shorts, XL",59.990,22.0,147.0
147,852,"Women's Tights, S",74.990,24.0,148.0
148,853,"Women's Tights, M",74.990,24.0,149.0
149,854,"Women's Tights, L",74.990,24.0,150.0
150,855,"Men's Bib-Shorts, S",89.990,18.0,151.0
151,856,"Men's Bib-Shorts, M",89.990,18.0,152.0
152,857,"Men's Bib-Shorts, L",89.990,18.0,153.0
153,858,"Half-Finger Gloves, S",24.490,20.0,154.0
154,859,"Half-Finger Gloves, M",24.490,20.0,155.0
155,860,"Half-Finger Gloves, L",24.490,20.0,156.0
156,861,"Full-Finger Gloves, S",37.990,20.0,157.0
157,862,"Full-Finger Gloves, M",37.990,20.0,158.0
159,864,"Classic Vest, S",63.500,25.0,160.0
160,865,"Classic Vest, M",63.500,25.0,161.0
161,866,"Classic Vest, L",63.500,25.0,162.0
162,867,"Women's Mountain Shorts, S",69.990,22.0,163.0
165,870,Water Bottle - 30 oz.,4.990,28.0,166.0
166,871,Mountain Bottle Cage,9.990,28.0,167.0
167,872,Road Bottle Cage,8.990,28.0,168.0
168,873,Patch Kit/8 Patches,2.290,37.0,169.0
169,874,"Racing Socks, M",8.990,23.0,170.0
170,875,"Racing Socks, L",8.990,23.0,171.0
171,876,Hitch Rack - 4-Bike,120.000,26.0,172.0
172,877,Bike Wash - Dissolver,7.950,29.0,173.0
173,878,Fender Set - Mountain,21.980,30.0,174.0
174,879,All-Purpose Bike Stand,159.000,27.0,175.0
175,880,Hydration Pack - 70 oz.,54.990,32.0,176.0
176,881,"Short-Sleeve Classic Jersey, S",53.990,21.0,177.0
180,885,"HL Touring Frame - Yellow, 60",1003.910,16.0,181.0
181,886,"LL Touring Frame - Yellow, 62",333.420,16.0,182.0
182,887,"HL Touring Frame - Yellow, 46",1003.910,16.0,183.0
183,888,"HL Touring Frame - Yellow, 50",1003.910,16.0,184.0
184,889,"HL Touring Frame - Yellow, 54",1003.910,16.0,185.0
189,894,Rear Derailleur,121.460,9.0,190.0
202,907,Rear Brakes,106.500,6.0,203.0
203,908,LL Mountain Seat/Saddle,27.120,15.0,204.0
204,909,ML Mountain Seat/Saddle,39.140,15.0,205.0
205,910,HL Mountain Seat/Saddle,52.640,15.0,206.0
206,911,LL Road Seat/Saddle,27.120,15.0,207.0
207,912,ML Road Seat/Saddle,39.140,15.0,208.0
216,921,Mountain Tire Tube,4.990,37.0,217.0
217,922,Road Tire Tube,3.990,37.0,218.0
218,923,Touring Tire Tube,4.990,37.0,219.0
223,928,LL Mountain Tire,24.990,37.0,224.0
230,935,LL Mountain Pedal,40.490,13.0,231.0
231,936,ML Mountain Pedal,62.090,13.0,232.0
232,937,HL Mountain Pedal,80.990,13.0,233.0
233,938,LL Road Pedal,40.490,13.0,234.0
234,939,ML Road Pedal,62.090,13.0,235.0
240,945,Front Derailleur,91.490,9.0,241.0
243,948,Front Brakes,106.500,6.0,244.0
244,949,LL Crankset,175.490,8.0,245.0
245,950,ML Crankset,256.490,8.0,246.0
246,951,HL Crankset,404.990,8.0,247.0
247,952,Chain,20.240,7.0,248.0
248,953,"Touring-2000 Blue, 60",146.674,3.0,249.0
249,954,"Touring-1000 Yellow, 46",146.674,3.0,250.0
250,955,"Touring-1000 Yellow, 50",146.674,3.0,251.0
251,956,"Touring-1000 Yellow, 54",146.674,3.0,252.0
252,957,"Touring-1000 Yellow, 60",146.674,3.0,253.0
289,994,LL Bottom Bracket,53.990,5.0,290.0
290,995,ML Bottom Bracket,101.240,5.0,291.0
291,996,HL Bottom Bracket,121.490,5.0,292.0
295,1001,Vintage Handcrafted Wooden Handlebars,8.900,23.0,296.0

In [651]:
# 199 Find the sales order ID, order date, and assign a rank to each order based on the total due amount, ordered by order date.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [652]:
soh['Rank'] = soh['TotalDue'].rank()

In [654]:
soh[['SalesOrderID', 'OrderDate', 'TotalDue', 'Rank']].head()

   SalesOrderID  OrderDate    TotalDue     Rank
0         43660 2011-05-20   1457.3288  18895.0
1         43661 2011-05-31  36865.8012  30449.0
2         43662 2011-05-31  32474.9324  30281.0
3         43663 2011-05-31    472.3108  12899.0
4         43664 2011-05-31  27510.4109  30086.0

In [655]:
# 200 Retrieve the product ID, name, and assign a dense rank to each product based on the weight, ordered by product ID.

pro = db_reader().read_table('production.product', connection)
pro.head()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,SizeUnitMeasureCode,WeightUnitMeasureCode,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,False,False,None,1000,750,0.0,1000.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,694215B7-08F7-4C0D-ACB1-D734BA44C0C8,2014-02-08 10:01:36.827
1,2,Bearing Ball,BA-8327,False,False,None,1000,750,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,58AE3C20-4F3A-4749-A7D4-D568806CC537,2014-02-08 10:01:36.827
2,3,BB Ball Bearing,BE-2349,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E,2014-02-08 10:01:36.827
3,4,Headset Ball Bearings,BE-2908,False,False,None,800,600,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B,2014-02-08 10:01:36.827
4,316,Blade,BL-2036,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,E73E9750-603B-4131-89F5-3DD15ED5FF80,2014-02-08 10:01:36.827

In [656]:
pro['Rank'] = pro['Weight'].rank()

In [658]:
pro[['ProductID', 'Name', 'Weight', 'Rank']].tail()

     ProductID                                   Name  Weight   Rank
501        997                     Road-750 Black, 44   19.77  115.0
502        998                     Road-750 Black, 48   20.13  122.0
503        999                     Road-750 Black, 52   20.42  125.0
504       1001  Vintage Handcrafted Wooden Handlebars    1.50    1.0
505       2006                            BIKE HANDLE    2.00    2.0

In [659]:
# 201 List the employee ID, hire date, and assign a unique row number to each employee, partitioned by the job title, ordered by hire date.

col = ['BusinessEntityID',
    'NationalIDNumber',
    'LoginID',
    'OrganizationLevel',
    'JobTitle',
    'BirthDate',
    'MaritalStatus',
    'Gender',
    'HireDate',
    'SalariedFlag',
    'VacationHours',
    'SickLeaveHours',
    'CurrentFlag',
    'rowguid',
    'ModifiedDate']

emp = db_reader().read_table('humanresources.employee', connection, col)
emp.head()

,BusinessEntityID,NationalIDNumber,LoginID,OrganizationLevel,JobTitle,BirthDate,MaritalStatus,Gender,HireDate,SalariedFlag,VacationHours,SickLeaveHours,CurrentFlag,rowguid,ModifiedDate
0,1,295847284,adventure-works\ken0,NaN,Chief Executive Officer,1969-01-29,S,M,2009-01-14,True,99,69,True,F01251E5-96A3-448D-981E-0F99D789110D,2014-06-30
1,2,245797967,adventure-works\terri0,1.0,Vice President of Engineering,1971-08-01,S,F,2008-01-31,True,1,20,True,45E8F437-670D-4409-93CB-F9424A40D6EE,2014-06-30
2,3,509647174,adventure-works\roberto0,2.0,Engineering Manager,1974-11-12,M,M,2007-11-11,True,2,21,True,9BBBFB2C-EFBB-4217-9AB7-F97689328841,2014-06-30
3,4,112457891,adventure-works\rob0,3.0,Senior Tool Designer,1974-12-23,S,M,2007-12-05,False,48,80,True,59747955-87B8-443F-8ED4-F8AD3AFDF3A9,2014-06-30
4,5,695256908,adventure-works\gail0,3.0,Design Engineer,1952-09-27,M,F,2008-01-06,True,5,22,True,EC84AE09-F9B8-4A15-B4A9-6CCBAB919B08,2014-06-30

In [663]:
emp = emp[['BusinessEntityID', 'JobTitle', 'HireDate']]

In [668]:
emp['Rank'] = emp['BusinessEntityID'].rank()

In [667]:
emp.head()

,BusinessEntityID,JobTitle,HireDate,Rank
0,1,Chief Executive Officer,2009-01-14,<bound method NDFrame.rank of 0 1\n1 ...
1,2,Vice President of Engineering,2008-01-31,<bound method NDFrame.rank of 0 1\n1 ...
2,3,Engineering Manager,2007-11-11,<bound method NDFrame.rank of 0 1\n1 ...
3,4,Senior Tool Designer,2007-12-05,<bound method NDFrame.rank of 0 1\n1 ...
4,5,Design Engineer,2008-01-06,<bound method NDFrame.rank of 0 1\n1 ...

In [671]:
emp.groupby('JobTitle').head()

,BusinessEntityID,JobTitle,HireDate,Rank
0,1,Chief Executive Officer,2009-01-14,1.0
1,2,Vice President of Engineering,2008-01-31,2.0
2,3,Engineering Manager,2007-11-11,3.0
3,4,Senior Tool Designer,2007-12-05,4.0
4,5,Design Engineer,2008-01-06,5.0
5,6,Design Engineer,2008-01-24,6.0
6,7,Research and Development Manager,2009-02-08,7.0
7,8,Research and Development Engineer,2008-12-29,8.0
8,9,Research and Development Engineer,2009-01-16,9.0
9,10,Research and Development Manager,2009-05-03,10.0
10,11,Senior Tool Designer,2010-12-05,11.0
11,12,Tool Designer,2007-12-11,12.0
12,13,Tool Designer,2010-12-23,13.0
13,14,Senior Design Engineer,2010-12-30,14.0
14,15,Design Engineer,2011-01-18,15.0
15,16,Marketing Manager,2007-12-20,16.0
16,17,Marketing Assistant,2007-01-26,17.0
17,18,Marketing Specialist,2011-02-07,18.0
18,19,Marketing Assistant,2011-02-14,19.0
19,20,Marketing Assistant,2011-01-07,20.0
20,21,Marketing Specialist,2009-03-02,21.0
21,22,Marketing Specialist,2008-12-12,22.0
22,23,Marketing Specialist,2009-01-12,23.0
23,24,Marketing Specialist,2009-01-18,24.0
24,25,Vice President of Production,2009-02-03,25.0
25,26,Production Control Manager,2008-12-01,26.0
26,27,Production Supervisor - WC60,2008-02-27,27.0
27,28,Production Technician - WC60,2006-06-30,28.0
28,29,Production Technician - WC60,2009-01-23,29.0
29,30,Production Technician - WC60,2009-01-29,30.0
30,31,Production Technician - WC60,2009-01-04,31.0
31,32,Production Technician - WC60,2008-12-29,32.0
39,40,Production Supervisor - WC60,2007-12-26,40.0
46,47,Production Supervisor - WC10,2009-02-22,47.0
47,48,Production Technician - WC10,2008-01-06,48.0
48,49,Production Technician - WC10,2008-01-07,49.0
49,50,Production Technician - WC10,2008-02-02,50.0
50,51,Production Technician - WC10,2008-02-20,51.0
51,52,Production Technician - WC10,2008-03-10,52.0
54,55,Production Supervisor - WC50,2008-02-08,55.0
55,56,Production Technician - WC50,2009-02-05,56.0
56,57,Production Technician - WC50,2009-02-23,57.0
57,58,Production Technician - WC50,2008-12-05,58.0
58,59,Production Technician - WC50,2008-12-24,59.0
59,60,Production Technician - WC50,2009-01-11,60.0
61,62,Production Supervisor - WC60,2008-03-17,62.0
70,71,Production Supervisor - WC30,2009-02-15,71.0
71,72,Production Technician - WC30,2008-12-01,72.0
72,73,Production Technician - WC30,2008-12-19,73.0
73,74,Production Technician - WC30,2009-01-07,74.0
74,75,Production Technician - WC30,2009-01-26,75.0
75,76,Production Technician - WC30,2009-02-12,76.0
77,78,Production Supervisor - WC40,2008-12-15,78.0
78,79,Production Technician - WC40,2010-01-24,79.0
79,80,Production Technician - WC40,2010-01-17,80.0
80,81,Production Technician - WC40,2009-12-29,81.0
81,82,Production Technician - WC40,2010-03-03,82.0
82,83,Production Technician - WC40,2010-02-12,83.0
86,87,Production Supervisor - WC10,2008-12-22,87.0
92,93,Production Supervisor - WC50,2008-12-27,93.0
101,102,Production Supervisor - WC10,2008-12-03,102.0
107,108,Production Supervisor - WC50,2008-12-08,108.0
120,121,Shipping and Receiving Supervisor,2009-01-02,121.0
121,122,Stocker,2008-12-07,122.0
122,123,Shipping and Receiving Clerk,2008-12-07,123.0
123,124,Stocker,2008-12-26,124.0
124,125,Shipping and Receiving Clerk,2009-01-20,125.0
125,126,Stocker,2009-02-26,126.0
126,127,Production Supervisor - WC40,2009-01-03,127.0
133,134,Production Supervisor - WC20,2009-01-14,134.0
134,135,Production Technician - WC20,2008-12-04,135.0
135,136,Production Technician - WC20,2009-12-11,136.0
136,137,Production Technician - WC20,2009-02-23,137.0
137,138,Production Technician - WC20,2009-02-04,138.0
138,139,Production Technician - WC20,2010-01-06,139.0
144,145,Production Supervisor - WC30,2009-01-27,145.0
151,152,Production Supervisor - WC20,2009-02-01,152.0
159,160,Production Supervisor - WC45,2009-01-21,160.0
160,161,Production Technician - WC45,2008-12-15,161.0
161,162,Production Technician - WC45,2009-01-03,162.0
162,163,Production Technician - WC45,2009-02-08,163.0
163,164,Production Technician - WC45,2009-03-06,164.0
164,165,Production Technician - WC45,2009-01-22,165.0
165,166,Production Supervisor - WC30,2009-02-21,166.0
179,180,Production Supervisor - WC20,2009-02-20,180.0
185,186,Production Supervisor - WC45,2009-02-08,186.0
191,192,Production Supervisor - WC40,2009-03-05,192.0
204,205,Production Supervisor - WC45,2009-02-26,205.0
210,211,Quality Assurance Manager,2009-02-28,211.0
211,212,Quality Assurance Supervisor,2008-12-09,212.0
212,213,Quality Assurance Technician,2010-02-23,213.0
213,214,Quality Assurance Technician,2009-02-02,214.0
214,215,Quality Assurance Technician,2009-01-15,215.0
215,216,Quality Assurance Technician,2008-12-28,216.0
216,217,Document Control Manager,2009-01-04,217.0
217,218,Control Specialist,2008-12-16,218.0
218,219,Document Control Assistant,2009-01-22,219.0
219,220,Document Control Assistant,2009-02-09,220.0
220,221,Control Specialist,2009-03-06,221.0
221,222,Master Scheduler,2008-12-12,222.0
222,223,Scheduling Assistant,2009-01-26,223.0
223,224,Scheduling Assistant,2009-01-07,224.0
224,225,Scheduling Assistant,2009-02-13,225.0
225,226,Scheduling Assistant,2009-03-03,226.0
226,227,Facilities Manager,2009-12-02,227.0
227,228,Maintenance Supervisor,2008-12-14,228.0
228,229,Janitor,2010-02-16,229.0
229,230,Janitor,2010-03-05,230.0
230,231,Janitor,2010-03-07,231.0
231,232,Janitor,2010-01-27,232.0
232,233,Facilities Administrative Assistant,2009-12-21,233.0
233,234,Chief Financial Officer,2009-01-31,234.0
234,235,Human Resources Manager,2008-12-06,235.0
235,236,Human Resources Administrative Assistant,2009-02-25,236.0
236,237,Human Resources Administrative Assistant,2009-02-06,237.0
237,238,Recruiter,2009-01-01,238.0
238,239,Benefits Specialist,2008-12-25,239.0
239,240,Recruiter,2008-12-13,240.0
240,241,Accounts Manager,2009-01-30,241.0
241,242,Accounts Receivable Specialist,2008-12-18,242.0
242,243,Accounts Receivable Specialist,2009-01-06,243.0
243,244,Accounts Receivable Specialist,2009-01-24,244.0
244,245,Accountant,2009-02-18,245.0
245,246,Accounts Payable Specialist,2009-02-11,246.0
246,247,Accounts Payable Specialist,2009-03-01,247.0
247,248,Accountant,2009-03-08,248.0
248,249,Finance Manager,2008-12-25,249.0
249,250,Purchasing Manager,2011-02-25,250.0
250,251,Buyer,2009-02-10,251.0
251,252,Buyer,2009-02-28,252.0
252,253,Buyer,2009-12-17,253.0
253,254,Buyer,2010-01-04,254.0
254,255,Buyer,2010-01-11,255.0
259,260,Purchasing Assistant,2010-12-06,260.0
260,261,Purchasing Assistant,2010-12-25,261.0
261,262,Assistant to the Chief Financial Officer,2009-01-12,262.0
262,263,Information Services Manager,2008-12-11,263.0
263,264,Network Manager,2009-02-04,264.0
264,265,Network Administrator,2008-12-04,265.0
265,266,Network Administrator,2009-02-23,266.0
266,267,Application Specialist,2009-02-16,267.0
267,268,Application Specialist,2009-02-03,268.0
268,269,Application Specialist,2009-01-11,269.0
269,270,Database Administrator,2009-01-17,270.0
270,271,Database Administrator,2009-01-22,271.0
271,272,Application Specialist,2008-12-23,272.0
272,273,Vice President of Sales,2011-02-15,273.0
273,274,North American Sales Manager,2011-01-04,274.0
274,275,Sales Representative,2011-05-31,275.0
275,276,Sales Representative,2011-05-31,276.0
276,277,Sales Representative,2011-05-31,277.0
277,278,Sales Representative,2011-05-31,278.0
278,279,Sales Representative,2011-05-31,279.0
284,285,Pacific Sales Manager,2013-03-14,285.0
286,287,European Sales Manager,2012-04-16,287.0
290,291,Design Engineer,2008-01-24,291.0

In [672]:
# 202 Retrieve the sales order ID, order date, and the row number of each order within its customer, ordered by order date.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [673]:
soh = soh[['SalesOrderID', 'OrderDate', 'CustomerID']]

In [674]:
soh['Rank'] = soh['CustomerID'].rank()

In [675]:
soh.sort_values('OrderDate').head()

    SalesOrderID  OrderDate  CustomerID     Rank
0          43660 2011-05-20       29672  28814.5
24         43684 2011-05-31       29912  30268.5
25         43685 2011-05-31       30084  31253.5
26         43686 2011-05-31       29606  28429.5
27         43687 2011-05-31       29610  28447.0

In [677]:
# 203 Find the product ID, name, and the dense rank of each product based on the total quantity sold, ordered by product ID.

sod = db_reader().read_table('sales.salesorderdetail', connection)
sod.head()

,SalesOrderID,SalesOrderDetailID,CarrierTrackingNumber,OrderQty,ProductID,SpecialOfferID,UnitPrice,UnitPriceDiscount,LineTotal,rowguid,ModifiedDate
0,43660,13,6431-4D57-83,1,762,1,419.4589,0.0,419.4589,419A1302-AC7A-4044-97B2-66D9D14CD02E,2011-05-31
1,43660,14,6431-4D57-83,1,758,1,874.7940,0.0,874.7940,5D0B2B03-1D4C-4C34-9696-C14C58E7301C,2011-05-31
2,43661,15,4E0A-4F89-AE,1,745,1,809.7600,0.0,809.7600,EDE1759E-6733-4C7B-A43F-DC6F48002D8A,2011-05-31
3,43661,16,4E0A-4F89-AE,1,743,1,714.7043,0.0,714.7043,FE10BF09-D477-485B-9541-27AE8053A6D4,2011-05-31
4,43661,17,4E0A-4F89-AE,2,747,1,714.7043,0.0,1429.4086,B136852E-24C9-4006-8048-B14AEFE6C337,2011-05-31

In [679]:
sod['Rank'] = sod['OrderQty'].rank(method='dense')

In [681]:
sod[['ProductID', 'OrderQty', 'Rank']].sort_values('ProductID').head()

        ProductID  OrderQty  Rank
78722         707         1   1.0
7619          707         1   1.0
116446        707         1   1.0
106352        707         1   1.0
106361        707         1   1.0

In [682]:
# 204 Retrieve the employee ID, hire date, and the rank of each employee based on their hire year, ordered by hire date.

col = ['BusinessEntityID',
    'NationalIDNumber',
    'LoginID',
    'OrganizationLevel',
    'JobTitle',
    'BirthDate',
    'MaritalStatus',
    'Gender',
    'HireDate',
    'SalariedFlag',
    'VacationHours',
    'SickLeaveHours',
    'CurrentFlag',
    'rowguid',
    'ModifiedDate']

emp = db_reader().read_table('humanresources.employee', connection, col)
emp.head()

,BusinessEntityID,NationalIDNumber,LoginID,OrganizationLevel,JobTitle,BirthDate,MaritalStatus,Gender,HireDate,SalariedFlag,VacationHours,SickLeaveHours,CurrentFlag,rowguid,ModifiedDate
0,1,295847284,adventure-works\ken0,NaN,Chief Executive Officer,1969-01-29,S,M,2009-01-14,True,99,69,True,F01251E5-96A3-448D-981E-0F99D789110D,2014-06-30
1,2,245797967,adventure-works\terri0,1.0,Vice President of Engineering,1971-08-01,S,F,2008-01-31,True,1,20,True,45E8F437-670D-4409-93CB-F9424A40D6EE,2014-06-30
2,3,509647174,adventure-works\roberto0,2.0,Engineering Manager,1974-11-12,M,M,2007-11-11,True,2,21,True,9BBBFB2C-EFBB-4217-9AB7-F97689328841,2014-06-30
3,4,112457891,adventure-works\rob0,3.0,Senior Tool Designer,1974-12-23,S,M,2007-12-05,False,48,80,True,59747955-87B8-443F-8ED4-F8AD3AFDF3A9,2014-06-30
4,5,695256908,adventure-works\gail0,3.0,Design Engineer,1952-09-27,M,F,2008-01-06,True,5,22,True,EC84AE09-F9B8-4A15-B4A9-6CCBAB919B08,2014-06-30

In [684]:
emp['HireDate	'] = pd.to_datetime(emp['HireDate'])

In [685]:
emp['Year'] = emp['HireDate	'].dt.year

In [688]:
emp['Rank'] = emp['Year'].rank(method='dense')

In [689]:
emp[['BusinessEntityID', 'HireDate', 'Year', 'Rank']].sort_values('HireDate').head()

    BusinessEntityID    HireDate  Year  Rank
27                28  2006-06-30  2006   1.0
16                17  2007-01-26  2007   2.0
2                  3  2007-11-11  2007   2.0
3                  4  2007-12-05  2007   2.0
11                12  2007-12-11  2007   2.0

In [690]:
# 205 Find the product ID, name, and the row number of each product based on the list price, ordered by product ID.

pro = db_reader().read_table('production.product', connection)
pro.head()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,SizeUnitMeasureCode,WeightUnitMeasureCode,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,False,False,None,1000,750,0.0,1000.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,694215B7-08F7-4C0D-ACB1-D734BA44C0C8,2014-02-08 10:01:36.827
1,2,Bearing Ball,BA-8327,False,False,None,1000,750,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,58AE3C20-4F3A-4749-A7D4-D568806CC537,2014-02-08 10:01:36.827
2,3,BB Ball Bearing,BE-2349,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E,2014-02-08 10:01:36.827
3,4,Headset Ball Bearings,BE-2908,False,False,None,800,600,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B,2014-02-08 10:01:36.827
4,316,Blade,BL-2036,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,E73E9750-603B-4131-89F5-3DD15ED5FF80,2014-02-08 10:01:36.827

In [691]:
pro['Rank'] = pro['ListPrice'].rank(method='first')

In [692]:
pro[['ProductID', 'Name', 'ListPrice', 'Rank']].sort_values('ProductID').head()

   ProductID                   Name  ListPrice   Rank
0          1        Adjustable Race     1000.0  476.0
1          2           Bearing Ball        0.0    1.0
2          3        BB Ball Bearing        0.0    2.0
3          4  Headset Ball Bearings        0.0    3.0
4        316                  Blade        0.0    4.0

In [693]:
# 206 Retrieve the sales order ID, order date, and the rank of each order based on the total sales amount, ordered by order date.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [694]:
soh['Rank'] = soh['TotalDue'].rank()

In [695]:
soh[['SalesOrderID', 'OrderDate', 'TotalDue', 'Rank']].sort_values('OrderDate').head()

    SalesOrderID  OrderDate   TotalDue     Rank
0          43660 2011-05-20  1457.3288  18895.0
24         43684 2011-05-31  6301.6258  29321.0
25         43685 2011-05-31  3082.0191  26928.0
26         43686 2011-05-31  3899.6756  27447.0
27         43687 2011-05-31  1416.9322  18834.0

In [696]:
# 207 List the employee ID, hire date, and the dense rank of each employee based on the years of experience, ordered by hire date.

col = ['BusinessEntityID',
    'NationalIDNumber',
    'LoginID',
    'OrganizationLevel',
    'JobTitle',
    'BirthDate',
    'MaritalStatus',
    'Gender',
    'HireDate',
    'SalariedFlag',
    'VacationHours',
    'SickLeaveHours',
    'CurrentFlag',
    'rowguid',
    'ModifiedDate']

emp = db_reader().read_table('humanresources.employee', connection, col)
emp.head()

,BusinessEntityID,NationalIDNumber,LoginID,OrganizationLevel,JobTitle,BirthDate,MaritalStatus,Gender,HireDate,SalariedFlag,VacationHours,SickLeaveHours,CurrentFlag,rowguid,ModifiedDate
0,1,295847284,adventure-works\ken0,NaN,Chief Executive Officer,1969-01-29,S,M,2009-01-14,True,99,69,True,F01251E5-96A3-448D-981E-0F99D789110D,2014-06-30
1,2,245797967,adventure-works\terri0,1.0,Vice President of Engineering,1971-08-01,S,F,2008-01-31,True,1,20,True,45E8F437-670D-4409-93CB-F9424A40D6EE,2014-06-30
2,3,509647174,adventure-works\roberto0,2.0,Engineering Manager,1974-11-12,M,M,2007-11-11,True,2,21,True,9BBBFB2C-EFBB-4217-9AB7-F97689328841,2014-06-30
3,4,112457891,adventure-works\rob0,3.0,Senior Tool Designer,1974-12-23,S,M,2007-12-05,False,48,80,True,59747955-87B8-443F-8ED4-F8AD3AFDF3A9,2014-06-30
4,5,695256908,adventure-works\gail0,3.0,Design Engineer,1952-09-27,M,F,2008-01-06,True,5,22,True,EC84AE09-F9B8-4A15-B4A9-6CCBAB919B08,2014-06-30

In [697]:
emp['HireDate'] = pd.to_datetime(emp['HireDate'])

In [698]:
emp['exp'] = pd.Timestamp.now().year - emp['HireDate'].dt.year

In [699]:
emp['Rank'] = emp['exp'].rank(method='dense')

In [700]:
emp[['BusinessEntityID', 'HireDate', 'exp', 'Rank']].sort_values('HireDate').head()

    BusinessEntityID   HireDate  exp  Rank
27                28 2006-06-30   18   8.0
16                17 2007-01-26   17   7.0
2                  3 2007-11-11   17   7.0
3                  4 2007-12-05   17   7.0
11                12 2007-12-11   17   7.0

In [701]:
# 208 Retrieve the product ID, name, and the row number of each product within its category, ordered by product ID.

pro = db_reader().read_table('production.product', connection)
pro.head()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,SizeUnitMeasureCode,WeightUnitMeasureCode,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,False,False,None,1000,750,0.0,1000.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,694215B7-08F7-4C0D-ACB1-D734BA44C0C8,2014-02-08 10:01:36.827
1,2,Bearing Ball,BA-8327,False,False,None,1000,750,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,58AE3C20-4F3A-4749-A7D4-D568806CC537,2014-02-08 10:01:36.827
2,3,BB Ball Bearing,BE-2349,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E,2014-02-08 10:01:36.827
3,4,Headset Ball Bearings,BE-2908,False,False,None,800,600,0.0,0.0,None,None,None,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B,2014-02-08 10:01:36.827
4,316,Blade,BL-2036,True,False,None,800,600,0.0,0.0,None,None,None,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT,E73E9750-603B-4131-89F5-3DD15ED5FF80,2014-02-08 10:01:36.827

In [702]:
sc = db_reader().read_table('production.productsubcategory', connection)
sc.head()

,ProductSubcategoryID,ProductCategoryID,Name,rowguid,ModifiedDate
0,1,1,Mountain Bikes,2D364ADE-264A-433C-B092-4FCBF3804E01,2008-04-30
1,2,1,Road Bikes,000310C0-BCC8-42C4-B0C3-45AE611AF06B,2008-04-30
2,3,1,Touring Bikes,02C5061D-ECDC-4274-B5F1-E91D76BC3F37,2008-04-30
3,4,2,Handlebars,3EF2C725-7135-4C85-9AE6-AE9A3BDD9283,2008-04-30
4,5,2,Bottom Brackets,A9E54089-8A1E-4CF5-8646-E3801F685934,2008-04-30

In [703]:
cat = merge().merge_tbl(pro[['ProductID','Name','ProductSubcategoryID']], sc[['ProductSubcategoryID', 'ProductCategoryID']], 'inner', 'ProductSubcategoryID')
cat.head()

,ProductID,Name,ProductSubcategoryID,ProductCategoryID
0,680,"HL Road Frame - Black, 58",14.0,2
1,706,"HL Road Frame - Red, 58",14.0,2
2,707,"Sport-100 Helmet, Red",31.0,4
3,708,"Sport-100 Helmet, Black",31.0,4
4,709,"Mountain Bike Socks, M",23.0,3

In [704]:
cat['Rank'] = cat.groupby('ProductCategoryID')['ProductID'].rank(method='first')

In [706]:
cat[['ProductID', 'Name', 'ProductCategoryID', 'Rank']].sort_values('ProductID').head()

   ProductID                       Name  ProductCategoryID  Rank
0        680  HL Road Frame - Black, 58                  2   1.0
1        706    HL Road Frame - Red, 58                  2   2.0
2        707      Sport-100 Helmet, Red                  4   1.0
3        708    Sport-100 Helmet, Black                  4   2.0
4        709     Mountain Bike Socks, M                  3   1.0

In [707]:
# 209 Find the sales order ID, order date, and the rank of each order based on the order year, ordered by order date

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [708]:
soh['OrderDate'] = pd.to_datetime(soh['OrderDate'])

In [709]:
soh['Year'] = soh['OrderDate'].dt.year

In [710]:
soh['Rank'] = soh['Year'].rank()

In [712]:
soh[['SalesOrderID', 'OrderDate', 'Year', 'Rank']].sort_values('OrderDate').head()

    SalesOrderID  OrderDate  Year   Rank
0          43660 2011-05-20  2011  804.0
24         43684 2011-05-31  2011  804.0
25         43685 2011-05-31  2011  804.0
26         43686 2011-05-31  2011  804.0
27         43687 2011-05-31  2011  804.0

In [713]:
# 210 Retrieve the customer ID, order date, and the dense rank of each customer based on the total sales amount, ordered by order date.

soh = db_reader().read_table('sales.salesorderheader', connection)
soh.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,CustomerID,SalesPersonID,TerritoryID,BillToAddressID,ShipToAddressID,ShipMethodID,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43660,9,2011-05-20,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,29672,279.0,5,921,921,5,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
1,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,29734,282.0,6,517,517,5,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
2,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,29994,282.0,6,482,482,5,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
3,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,29565,276.0,4,1073,1073,5,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
4,43664,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43664,PO16617121983,10-4020-000397,29898,280.0,1,876,876,5,806.0,95555Vi4081,NaN,24432.6088,2344.9921,732.8100,27510.4109,None,22A8A5DA-8C22-42AD-9241-839489B6EF0D,2011-06-07

In [714]:
soh['Rank'] = soh['TotalDue'].rank(method='dense')

In [715]:
soh[['CustomerID', 'OrderDate', 'TotalDue','Rank']].sort_values('OrderDate').head()

    CustomerID  OrderDate   TotalDue    Rank
0        29672 2011-05-20  1457.3288  1461.0
24       29912 2011-05-31  6301.6258  2630.0
25       30084 2011-05-31  3082.0191  2238.0
26       29606 2011-05-31  3899.6756  2344.0
27       29610 2011-05-31  1416.9322  1435.0

In [716]:
# 211 List the employee ID, hire date, and the row number of each employee within its department, ordered by hire date.

col = ['BusinessEntityID',
    'NationalIDNumber',
    'LoginID',
    'OrganizationLevel',
    'JobTitle',
    'BirthDate',
    'MaritalStatus',
    'Gender',
    'HireDate',
    'SalariedFlag',
    'VacationHours',
    'SickLeaveHours',
    'CurrentFlag',
    'rowguid',
    'ModifiedDate']

emp = db_reader().read_table('humanresources.employee', connection, col)
emp.head()

,BusinessEntityID,NationalIDNumber,LoginID,OrganizationLevel,JobTitle,BirthDate,MaritalStatus,Gender,HireDate,SalariedFlag,VacationHours,SickLeaveHours,CurrentFlag,rowguid,ModifiedDate
0,1,295847284,adventure-works\ken0,NaN,Chief Executive Officer,1969-01-29,S,M,2009-01-14,True,99,69,True,F01251E5-96A3-448D-981E-0F99D789110D,2014-06-30
1,2,245797967,adventure-works\terri0,1.0,Vice President of Engineering,1971-08-01,S,F,2008-01-31,True,1,20,True,45E8F437-670D-4409-93CB-F9424A40D6EE,2014-06-30
2,3,509647174,adventure-works\roberto0,2.0,Engineering Manager,1974-11-12,M,M,2007-11-11,True,2,21,True,9BBBFB2C-EFBB-4217-9AB7-F97689328841,2014-06-30
3,4,112457891,adventure-works\rob0,3.0,Senior Tool Designer,1974-12-23,S,M,2007-12-05,False,48,80,True,59747955-87B8-443F-8ED4-F8AD3AFDF3A9,2014-06-30
4,5,695256908,adventure-works\gail0,3.0,Design Engineer,1952-09-27,M,F,2008-01-06,True,5,22,True,EC84AE09-F9B8-4A15-B4A9-6CCBAB919B08,2014-06-30

In [718]:
edh = db_reader().read_table('humanresources.employeedepartmenthistory', connection)
edh.head()

,BusinessEntityID,DepartmentID,ShiftID,StartDate,EndDate,ModifiedDate
0,1,16,1,2009-01-14,None,2009-01-13
1,2,1,1,2008-01-31,None,2008-01-30
2,3,1,1,2007-11-11,None,2007-11-10
3,4,1,1,2007-12-05,2010-05-30,2010-05-28
4,4,2,1,2010-05-31,None,2010-05-30

In [719]:
id = merge().merge_tbl(emp[['BusinessEntityID', 'HireDate']], edh[['BusinessEntityID', 'DepartmentID']], 'inner', 'BusinessEntityID')
id.head()

   BusinessEntityID    HireDate  DepartmentID
0                 1  2009-01-14            16
1                 2  2008-01-31             1
2                 3  2007-11-11             1
3                 4  2007-12-05             1
4                 4  2007-12-05             2

In [720]:
id['rank'] = id.groupby('DepartmentID')['BusinessEntityID'].rank(method='first')

In [721]:
id.sort_values('HireDate').head()

    BusinessEntityID    HireDate  DepartmentID  rank
29                28  2006-06-30             7   3.0
18                17  2007-01-26             4   2.0
2                  3  2007-11-11             1   2.0
3                  4  2007-12-05             1   3.0
4                  4  2007-12-05             2   1.0